/*
Theme Name: Ministero Innovazione
description:  Child Theme per Ministero Innovazione
Author: bititup s.r.l.
Author URI: https://bititup.it
Template: ministero
Version: 0.0.1
Text Domain: ministero
*/

.it-hero-text-wrapper .it-category a{
    color:#fff;
    text-decoration:none;
}

.single-progetto .content p,
.single-progetto .content ul,
.single-progetto .content h1,
.single-progetto .content h2,
.single-progetto .content h3,
.single-progetto .content h4
{
    max-width:800px;
}