/* var */
@brand: #0d00ff;
@brand-dark: #0b00d9;
@brand-darkest: #050066;
@brand-extradark: #030040;
@brand2: #55e0dc;
@brand2-light: #00fff8;
@brand2-lightest: #a6f5f2;
@brand2-dark: #32d6d6;
@brand3: #f83e5a;
@black-text: #000a12;
@black: #000000;
@gray: #f0f6fc;
@gray2: #e6f2ff;
@gray-card:#f5f9fc;
@gray-lighter: #f2f7fc;
@gray-darkest: #b8c2cc;
@bg-dark: #00264d;  
@bg-dark2: #001a33;
@early:#00cf86;
@growth:#ff9700;
@pmi-innovative:#d1344c;    


@xxsmall-space:32px,0,0,0,0;
@xsmall-space:48px,0,0,0,0;
@small-space:40px,0,0,64px,0;
@medium-space: 50px,0,0,80px,0;
@large-space: 55px,0,0,95px,0;
@xlarge-space: 60px,0,0,120px,0;
@xxlarge-space: 80px,0,0,160px,0;
@doublelarge-space:95px,0,0,190px,0;
@doublexlarge-space: 120px,0,0,240px,0;


@small-space-fix:64px;
@medium-space-fix:80px;
@large-space-fix:95px;
@xlarge-space-fix:120px;
@xxlarge-space-fix:160px;
@double-large-space-fix:190px;
@double-xlarge-space-fix:240px;

@h1-size:28px,0,40px,0,0;
@h5-size:16px,0,20px,0,0;


/* mixin */
.px2rem (@element, @context: 16){
    font-size: unit(@element / @context, rem );
}
.px2em (@element, @context: 16){
    font-size: unit(@element / @context, em );
}
.px2vw (@element, @base-size: 16, @ref-size:1280) {
    
    @res-part:@element - @base-size;
    @vw-size:unit((@res-part / @ref-size)*100, vw);
    font-size:~"calc(1em + @{vw-size})";
}
/* definisce una proprità in base a un array di valori  
	    per i vari break point */
.media-prop(@prop,@array,@sm:false,@md:false,@lg:false,@xl:false,@xxl:false) {
    @{prop}:extract(@array,1);
    & when (@sm = true) {
	@media (min-width:576px){
	    @{prop}:extract(@array,2);
	}
    }
    & when (@md = true) {
	@media (min-width:768px){
	    @{prop}:(extract(@array, 3));
	}
    }
    & when (@lg = true) {
	@media (min-width:992px){
	    @{prop}:(extract(@array, 4));
	}
    }
    & when (@xl = true) {
	@media (min-width:1200px){
	    @{prop}:(extract(@array, 5));
	}
    }
    & when (@xxl = true) {
	@media (min-width:1440px){
	    @{prop}:(extract(@array, 6));
	}
    }
}


.media-font-size(@array,@sm:false,@md:false,@lg:false,@xl:false) {
    .px2em(extract(@array,1));
    & when (@sm = true) {
	@media (min-width:576px){
	    .px2em(extract(@array,2));
	}
    }
    & when (@md = true) {
	@media (min-width:768px){
	    .px2em(extract(@array, 3));
	}
    }
    & when (@lg = true) {
	@media (min-width:992px){
	    .px2em(extract(@array, 4));
	}
    }
    & when (@xl = true) {
	@media (min-width:1200px){
	    .px2em(extract(@array, 5));
	}
    }
}



/* restituisce misura in percentuale */
/* 
@prop: proprietà da definire
@size: misura da calcolare
@size-compare: misura dell'elemnto padre in base alla quale calcolare la percentuale
@negative: opzionale: restituisce il valore negativo se a true 
*/
.proportion-size(@prop,@size,@size-compare,@negative:false) {
    & when (@negative = true) {
	@{prop}:((@size / @size-compare) * 100%) * -1;
    }
    & when (@negative = false) {
	@{prop}:(@size / @size-compare) * 100%;
    }
}

.extra-content (@display:block,@position:absolute){
    content:"";
    display:@display;
    position:@position;
}

.little-square-list(@point-color:@brand)  {
    margin:0;
    padding:0;
    li {
	list-style-type:none;
	position:relative;
	padding-left:20px;
	color:inherit;
	&:before {
	    .extra-content(@position:static,@display:inline-block);
	    position:absolute;
	    left:0;
	    top:.5em;
	    width:8px;
	    height:8px;
	    margin-right:15px;
	    background:@point-color;
	}
    }
}

.logo-square-wrap(@background:@brand-darkest) {
    background:@background;
    padding-bottom:100%;
    overflow:hidden;
    position:relative;
    img {
	display:block;
    }
    .logo-wrap {
	position:absolute;
	top:50%;
	left:50%;
	width:80%;
	height:80%;
	display:block;
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-size:contain;
	transform:translate(-50%,-50%);
    }
}

.ita-hover(@border-radius:0,@mobile-fix:false) {
    position:relative;
    &::after,
    &::before {
	.extra-content;
	border-radius:@border-radius;
	height:100%;
	width:100%;
	top:0;
	left:0;
	z-index:-1;
	transition:all 1s ease;
    }
    &::after {
	top:auto;
	bottom:0;
	left:0;
    }
    &::before {
	top:0;
	left:auto;
	right:0;
    }
    &:hover {
	&::after {
	    background:@brand2-dark;
	    bottom:-8px;
	    left:-8px;
	}
	&::before {
	    background:@brand3;
	    top:-8px;
	    right:-8px;

	}
    }
    & when (@mobile-fix = true) {
	@media (max-width:991px){
	    &::after {
		background:@brand3;
		top:auto;
		bottom:-8px;
		left:-8px;
	    }
	    &::before {
		background:@brand2-dark;
		top:-8px;
		left:auto;
		right:-8px;

	    }
	}
    }
}
.standard-textlink {
    .fw-700;
    color:@brand;
    text-decoration:underline;
    transition:color 1s;
    &:hover {
	color:@brand-dark;
    }
}

/* GENERAL */
html {
    font-size:100%;
}
body {
    font-size:100%;
    font-weight:400;
    color:@black-text;
}
section {
    position:relative;
}
/* fix bootstrap-ita */
.container,
.container-fluid {
    padding-right:15px;
    padding-left:15px;
}
.row {
    margin-right:-15px;
    margin-left:-15px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right:15px;
    padding-left:15px;
}

#page-content {
    overflow:hidden;
}
#page-content.no-hero {
    padding-top:60px;
}
/* colonne disallineate rispetto alla griglia */
.offset-container-left {
    margin-left:-15px;
}
.offset-container-right {
    margin-right:-15px;
}


a {
    color:inherit;
}
p:not(:last-child) {
    margin-bottom:1.8em;
}
p:last-child {
    margin-bottom:0;
}

h1,.h1 {
    .media-font-size(@h1-size,@md:true);
    .fw-700;
    letter-spacing:0;
}

h1.fix,
.h1-fix {
    .px2rem(40);
}
h2,.h2 {
    .px2rem(32);
    .fw-700;
}
h2.fix,
.h2-fix {
    .px2rem(32);
}
h3,.h3 {
    .px2rem(28);
    .fw-700;
}
h4,.h4 {
    .px2rem(24);
    .fw-700;
}
h5,.h5 {
    .media-font-size(@h5-size,@md:true);
}
h6,.h6 {

}

.fs-big {
    .px2rem(20);
}
.fs-service {
    .px2rem(14);
}
.fs-service-small {
    .px2rem(10);
}
.fw-400 {
    font-weight:400;
}
.fw-700 {
    font-weight:700;
}
.fw-900 {
    font-weight:900;
}
b,strong {
    .fw-700;
}
button:focus,
button:active{
    border:0;
    outline:0;
    box-shadow:none;
}

.supertitle {
    .fs-service;
    .fw-700;
    text-transform:uppercase;
    color:@brand2-dark;
}

.bm,
.bm-nospace {
    position:absolute;
    top:-60px;
}
.date {
    .px2rem(12);
    text-align:right;
    text-transform:uppercase;
}
.date-range {
    .fs-service;
    margin-bottom:0;
}
.tag {
    .px2rem(10);
    .fw-700;
    text-transform:uppercase;
    padding:3px 7px;
    display:inline-block;
    background:@brand2;
    color:#fff;
    border-radius:10px;
    margin-bottom:8px;
    &:not(:last-child) {
	margin-right:15px;
    }
}

/* link e bottoni */
.button {
    .fs-service;
    .fw-700;
    border:0;
    text-transform:uppercase;
    text-decoration:none;
    text-align:center;
    border-radius:3px;
    background:@brand;
    color:#fff;
    padding:10px 15px;
    display:inline-block;
    min-width:165px;
    min-width:125px;
    .ita-hover(@border-radius:3px);

    &.invert{
	background:transparent;
	border:1px solid #fff;
    }
    &.extradark{
	background:@brand-extradark;
	border:1px solid #fff;
    }
    &.large {
	min-width:290px;
    }
    &.full {
	display:block;
	width:100%;
    }
    &:hover {
	text-decoration:none;
	color:#fff;
    }
    &.simple:hover {
	&::after,
	&::before {
	    display:none;
	}
    }
    &.disabled {
	background:#d1d3d5;
	&:hover {
	    cursor:default;
	    &::after,
	    &::before {
		display:none;
	    }
	}
    }
}

.button-link {
    .fs-service;
    .fw-700;
    color:@brand;
    display:inline-block;
    position:relative;
    padding-right:46px;
    text-transform:uppercase;
    text-decoration:none;
    &::after {
	.extra-content;
	width:32px;
	height:32px;
	background:@brand-dark url('../img/arrow-link-to-page.svg') no-repeat 50% 50%;
	background-size:16px auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13);
	left:auto;
	right:0;
	top:50%;
	transform:translateY(-50%);
    }
    span {
	display:inline-block;
	&::after,
	&::before {
	    .extra-content;
	    width:32px;
	    height:32px;
	    position:abolute;
	    right:0;
	    top:50%;
	    left:auto;
	    transform:translateY(-50%);
	    transition:all .5s ease-in-out;
	}
	&::after {
	    background:@brand3;
	}
	&::before {
	    background:@brand2;
	}
    }
    &:hover {
	color:@brand;
	text-decoration:none;
	span {
	    &::before {
		right:4px;
		margin-top:4px;
	    }
	    &::after {
		right:-4px;
		margin-top:-4px;
	    }
	}
    }
}

.button-download {
    .fs-service;
    .fw-700;
    color:@brand;
    display:inline-block;
    position:relative;
    padding-right:46px;
    text-transform:uppercase;
    text-decoration:none;
    &::after {
	.extra-content;
	width:32px;
	height:32px;
	background:@brand-dark url('../img/arrow-download.svg') no-repeat 50% 50%;
	background-size:12px auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13);
	left:auto;
	right:0;
	top:50%;
	transform:translateY(-50%);
    }
    &:hover {
	color:@brand;
	text-decoration:none;
    }
}

.dark-wrap .button-download {
    color:#fff;
    &::after {
	background:#fff url('../img/arrow-download-blue.svg') no-repeat 50% 50%;
    }
}

.button-big-link {
    .px2rem(28);
    .fw-900;
    line-height:1.14;
    text-transform:uppercase;
    text-decoration:none;
    display:flex;
    justify-content:flex-end; 
    align-items:center;
    position:relative;
    &.column {
	flex-flow:column;
	.text {
	    .pb-xxsmall;
	    text-align:center;
	}
    }
    &:hover {
	color:inherit;
	text-decoration:none;	
    }
    .text {
	display:inline-block;
	margin-right:26px;
    }
    .arrow {
	position:relative;
	display:inline-block;
	width:68px;
	height:68px;
	background:@brand-dark url('../img/arrow-link-to-page.svg') no-repeat 50% 50%;
	background-size:24px auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13);
	&.back {
	    background-image:url('../img/arrow-back.svg');
	}
	&::after,
	&::before {
	    .extra-content;
	    z-index:-1;
	    width:100%;
	    height:100%;
	    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13);
	}
	&:before {
	    top:8px;
	    left:-8px;
	    background:@brand2-dark;
	    
	}
	&:after {
	    top:-8px;
	    left:auto;
	    right:-8px;
	    background:@brand3;
	}
    }
}

.button-down {
    display:inline-block;
    width:40px;
    height:40px;
    background:#fff url('../img/arrow-scroll-down.svg') no-repeat 50% 50%;
    background-size:34px auto;
    .ita-hover;
}

.button-deadline {
    background:#0a00d1;
    display:flex;
    flex:0 0 50%;
    border-radius:3px;
    overflow:hidden;
    .link-wrap {
	flex-basis:50%;
	display:flex;
	align-self:stretch;
	align-items:center;
	justify-content:center;
	.fs-big;
	.fw-700;
	text-transform:uppercase;
	color:#fff;
	background:@brand;
	text-decoration:none;
	padding:10px;
    }
    .deadline-wrap {
	.fs-service;  
	flex-basis:50%;
	color:#fff;
	padding:10px;
    }
    &.disabled {
	.link-wrap {
	    color:@black-text;
	    background:#d1d3d5;
	}
	.deadline-wrap {
	    color:@black-text;
	    background:#b9bbbd;
	}
    }
}


/* testo redazionale */
.sidebar-main a,
.red a,
.section-heading .text a{
    .standard-textlink;
}
.sidebar-main .dark-wrap a,
.red .dark-wrap  a,
.dark-wrap .section-heading .text a {
    color:#fff;
    &:hover {
	color:@brand2-light;
    }
}

/* FORM */

.custom-group {
    padding-bottom:15px;
    label {}
}
.custom-input {
    .fw-400;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
    background-color: #ffffff;
    border:0;
    padding-left:20px;
}
.custom-control {
    &[type="text"],
    &[type="email"] {
	.custom-input;
    }
}
.custom-control {
    &[type="text"],
    &[type="email"] {
	height: 40px;
    }
}
textarea.custom-control {
    resize:none;
    .custom-input;
}

.bootstrap-select.mi-select {
    .dropdown-toggle {
	color:@black-text;
	.fw-400;
	height:40px;
	display:flex;
	position:relative;
	border-radius:3px;
	/*background:@brand;*/
	box-shadow:none;
	padding:0;
	overflow:hidden;
	&:focus {
	    /*background:@brand!important;*/
	    box-shadow:none!important;
	    outline:0!important;
	}
	&:after {
	    content:"";
	    display:block;
	    height:10px;
	    flex-basis:10px;
	    min-width:10px;
	    box-sizing:border-box;
	    margin:0 15px;
	    border:2px solid #fff;
	    border-width:0 2px 2px 0;
	    transform:rotate(45deg);
	}
	&:before {
	    .extra-content;
	    width:40px;
	    height:100%;
	    background:@brand;
	    top:0;
	    left:auto;
	    right:0;
	}
	.filter-option {
	    padding:6px 20px;
	    background:#fff;
	}
    }
    &.mi-select--bordered {
	.dropdown-toggle {
	    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
	    &:focus {
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13)!important;
	    }
	}
    }
    .dropdown-menu {
	padding:0;
	margin:0!important;
	&::before {
	    display:none;
	}
	li:focus {
	    border:0;
	    border:2px solid green!important;
	    box-shadow:0!important;
	}
	
	:focus {
	    border:0;
	    box-shadow:none!important;
	}
    }
    &.lang {
	width:auto!important;
	.dropdown-toggle {
	    width:auto;
	    height:auto;
	    color:#fff;
	    background:transparent;
	    border-radius:0;
	    text-transform:uppercase;
	    display:block;
	    .fw-700;
	    .fs-service;
	    padding-bottom:.2rem;
	    padding-right:25px;	    
	    &::before {
		display:none;
	    }
	    &::after {
		position:absolute;
		top:50%;
		left:auto;
		right:0;
		border-color:#fff;
		transform:translate(100%,-100%) rotate(45deg);
	    }	    
	    .filter-option {
		padding:0;
		background:inherit;
		float:right;
	    }
	    .filter-option-inner {
		background:inherit;
	    }
	}
	.dropdown-menu {
	    min-width:auto;
	    top:100%;
	    z-index:100;
	    background:#fff;
	    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.14);  
	}
    }
} 

.message {
    .title {
	.h3;
	.fw-900;
	text-transform:uppercase;
    }
}





/* UTILS */
/* offset blocchi, background sezioni */
/* offset card principali startup */

.v-offset-card{
    margin-bottom:-50px;
    position:relative;
    z-index:2;
    @media (max-width:991px) {
	& > div:last-child {
	    margin-bottom:0!important;
	}
    }
}
.row.cards-v-wrap > div:last-child  {
    margin-bottom:0!important;
}

/* margin e padding */
.wrap-xxsmall {
    margin-bottom:extract(@xxsmall-space,1) * -1;
    & > div {
	.mb-xxsmall;
    }
}




/* helper class */
.clip {
    overflow:hidden;
}
.no-scroll {
    overflow:hidden;
}


/* WRAPS */
/* da dare alle row con card all'interno per avere tutte le card della stessa misura */
.card-wrap {
    align-items:stretch;
    &  > div {
	display:flex;
	align-items:stretch;
	& > div {
	    height:100%;
	}
    }
}

.light-switch,
.light-wrap {
    background:@gray;
    position:relative;
    /* z-index:1;*/
    & > .container {
	position:relative;
	z-index:1;
    }
}

.offset-on-hero {
    top:-80px;
    margin-bottom:-80px;
    .filter-wrap {
	position:absolute;
	top:0;
	left:50%;
	z-index:10;
	padding-bottom:17px;
	transform:translate(-50%,-100%);
	.filter {
	    padding-bottom:15px;
	}
    }
}

.light-wrap-offset {
    position:relative;
    &::before {
	.extra-content;
	width:100%;
	height:~"calc(100% - 80px)";
	top:auto;
	bottom:0;
	left:0;
	background:@gray;
    }
    &.offset-small {
	&::before {
	    height:~"calc(100% - 46px)";
	}
    }
}

.light-wrap-offset-down {
    position:relative;
    .offset-on-hero;
    &::before {
	.extra-content;
	width:100%;
	height:~"calc(100% - 160px)";
	top:80px;
	left:0;
	background:@gray;
    }
    
}

.dark-wrap {
    background:@brand-extradark;
    position:relative;
    & > .container {
	position:relative;
	z-index:1;
    }
}

/* menu social */
.nav-social {
    &.nav-social--round,
    &.nav-social--square {
	.nav-link {
	    display:flex;
	    align-items:center;
	    background:#fff;
	    color:@brand;
	    text-decoration:none;
	    &.min {
		background-image:url("../img/ico-m-blue.png");
		background-repeat:no-repeat;
		background-position:50% 50%;
	    }
	    i {
		position:relative;
		left:50%;
		transform:translateX(-50%);
	    }
	}
	&.invert {
	    .nav-link {
		background-color:@brand;
		color:#fff!important;	
		&.min {
		    background-image:url("../img/ico-m-white.png");
		    
		}
	    }
	    
	}
    }
    &.nav-social--round {
	.nav-item {
	    padding:0 5px;
	}
	.nav-link {
	    width:32px;
	    height:32px;
	    font-size:1.2rem;
	    border-radius:100%;
	    
	}
    }
    &.nav-social--square {
	.nav-item:not(:last-child) {
	    padding-right:15px;
	}
	.nav-link {
	    width:50px;
	    height:50px;
	    font-size:1.6rem;
	}
    }
    &.nav-social--square--small {
	.nav-link {
	    width:32px!important;
	    height:32px!important;
	    font-size:1rem!important;
	}
    }
}

/* SPACER */
.mt-xxsmall {
    .media-prop(margin-top,@xxsmall-space);
}
.mb-xxsmall {
    .media-prop(margin-bottom,@xxsmall-space);
}
.mt-xsmall {
    .media-prop(margin-top,@xsmall-space);
}
.mb-xsmall {
    .media-prop(margin-bottom,@xsmall-space);
}
.mt-small {
    .media-prop(margin-top,@small-space,@lg:true);
}
.mb-small {
    .media-prop(margin-bottom,@small-space,@lg:true);
}
.mt-medium {
    .media-prop(margin-top,@medium-space,@lg:true);
}
.mb-medium {
    .media-prop(margin-bottom,@medium-space,@lg:true);
}
.mt-large {
    .media-prop(margin-top,@large-space,@lg:true);
}
.mb-large {
    .media-prop(margin-bottom,@large-space,@lg:true);
}
.mt-xlarge {
    .media-prop(margin-top,@xlarge-space,@lg:true);
}
.mb-xlarge {
    .media-prop(margin-bottom,@xlarge-space,@lg:true);
}
.mt-xxlarge {
    .media-prop(margin-top,@xxlarge-space,@lg:true);
}
.mb-xxlarge {
    .media-prop(margin-bottom,@xxlarge-space,@lg:true);
}
.mt-xxlarge {
    .media-prop(margin-top,@xxlarge-space,@lg:true);
}
.mb-xxlarge {
    .media-prop(margin-bottom,@xxlarge-space,@lg:true);
}
.mt-doublelarge {
    .media-prop(margin-top,@doublelarge-space,@lg:true);
}
.mb-doublelarge {
    .media-prop(margin-bottom,@doublelarge-space,@lg:true);
}
.mt-doublexlarge {
    .media-prop(margin-top,@doublexlarge-space,@lg:true);
}
.mb-doublexlarge {
    .media-prop(margin-bottom,@doublexlarge-space,@lg:true);
}






.pt-xxsmall {
    .media-prop(padding-top,@xxsmall-space);
}
.pb-xxsmall {
    .media-prop(padding-bottom,@xxsmall-space);
}
.pt-xsmall {
    .media-prop(padding-top,@xsmall-space);
}
.pb-xsmall {
    .media-prop(padding-bottom,@xsmall-space);
}
.pt-small {
    .media-prop(padding-top,@small-space,@lg:true);
}
.pb-small {
    .media-prop(padding-bottom,@small-space,@lg:true);
}
.pt-medium {
    .media-prop(padding-top,@medium-space,@lg:true);
}
.pb-medium {
    .media-prop(padding-bottom,@medium-space,@lg:true);
}
.pt-large {
    .media-prop(padding-top,@large-space,@lg:true);
}
.pb-large {
    .media-prop(padding-bottom,@large-space,@lg:true);
}
.pt-xlarge {
    .media-prop(padding-top,@xlarge-space,@lg:true);
}
.pb-xlarge {
    .media-prop(padding-bottom,@xlarge-space,@lg:true);
}
.pt-xxlarge {
    .media-prop(padding-top,@xxlarge-space,@lg:true);
}
.pb-xxlarge {
    .media-prop(padding-bottom,@xxlarge-space,@lg:true);
}
.pt-xxlarge {
    .media-prop(padding-top,@xxlarge-space,@lg:true);
}
.pb-xxlarge {
    .media-prop(padding-bottom,@xxlarge-space,@lg:true);
}
.pt-doublelarge {
    .media-prop(padding-top,@doublelarge-space,@lg:true);
}
.pb-doublelarge {
    .media-prop(padding-bottom,@doublelarge-space,@lg:true);
}
.pt-doublexlarge {
    .media-prop(padding-top,@doublexlarge-space,@lg:true);
}
.pb-doublexlarge {
    .media-prop(padding-bottom,@doublexlarge-space,@lg:true);
}


.mt-small-fix {
    margin-top:@small-space-fix;
}
.mb-small-fix {
    margin-bottom:@small-space-fix;
}
.pt-xlarge-fix {
    padding-top:@xlarge-space-fix;
}
.pb-xlarge-fix {
    padding-bottom:@xlarge-space-fix;
}
.pt-xxlarge-fix {
    padding-top:@xxlarge-space-fix;
}
.pb-xxlarge-fix {
    padding-bottom:@xxlarge-space-fix;
}
.pt-small-fix {
    padding-top:@small-space-fix;
}
.pt-small-fix {
    padding-bottom:@small-space-fix;
}



/* pagina con side bar */
.sidebar-wrap {
    position:relative;
    .col-sidebar {
	background:@gray2;
    }
}

.sidebar-index-wrap {
    border-left:1px solid @gray-darkest;
    margin-left:5px;
    padding:20px 15px 50px 20px;
    .title {
	display:block;
	text-transform:uppercase;
	margin-bottom:20px;
    }
    .index {
	margin:0;
	padding:0;	
	li {
	    list-style-type:none;
	    padding:12px 0;
	    position:relative;
	    
	    &::after {
		.extra-content;
		width:2px;
		height:100%;
		top:0;
		left:-20px;
		transition:all .5s;
		
	    }
	    &.active {
		.fw-700;
		color:@brand;
		&::after {
		    background:@brand2-dark;
		}
	    }
	    a {
		text-decoration:none;
		&:hover {
		    color:@brand;
		}
	    }
	}
    }
    &.single-counter {
	.index {
	    counter-reset:index-item;
	    li::before{
		counter-increment:index-item;
		content: counter(index-item) " - ";
	    }
	}
    }
    &.multi-counter {
	counter-reset:index-multi-item;
	list-style-type:none;
	li {
	    
	    ::before{
		counter-increment:index-multi-item;
		content: counter(index-multi-item) " - ";
	    }
	}
	
    }
}



/* menu lingue */

/* menu social */
.social-menu {
    .nav-intro {
	.px2rem(12);
	.fw-700;
	padding-left:5px;
	margin-bottom:5px;
	text-align:left;
	display:block;
    }
}

/* breadcrumb */
.breadcrumb {
    padding:0;
    margin:0;
    .breadcrumb-item {
	.supertitle;
	opacity:.5;
	&:only-child {
	    opacity:1;
	}
    }
    .breadcrumb-item + .breadcrumb-item {
	opacity:1;
	&::before {
	    content:"";
	    display:inline-block;
	    width:7px;
	    height:7px;
	    padding:0;
	    margin-right:7px;
	    border:2px solid @brand2;
	    border-width:2px 2px 0 0;
	    position:relative;
	    transform: translateY(100%) rotate(45deg);
	}
    }
}

/* slider generale */
.owl-carousel {
    .owl-dots {
	display:flex;
	justify-content:center;
    }
    button.owl-dot {
	display:block;
	height:8px;
	width:8px;
	background-color:#e7e6ff;
	border-radius:100%;
	margin:0 2px;
	&.active {
	    background:#7a73ff;
	}
    }
    &.on-dark {
	button.owl-dot {
	    background-color:#d0e2f5;
	    &.active {
		background:@brand-extradark;
	    }
	}
    }
}


/* HEADER */
.navbar-toggler {
    display:block;
    width:34px;
    height:20px;
    padding:0;
    margin-right:0;
    margin-left:auto;
    .navbar-toggler-inner {
	display:block;
	position:relative;
	height:4px;
	width:100%;
	border-radius:3px;
	background:#fff;
	&::after,
	&::before {
	    .extra-content;
	    width:100%;
	    height:4px;
	    border-radius:3px;
	    background:#fff;
	    transition:all .5s ease-out;
	}
	&::after {
	    top:-8px;
	}
	&::before {
	    top:auto;
	    bottom:-8px;
	}
	
    }
    &[aria-expanded="true"] {
	.navbar-toggler-inner{
	    background:transparent;
	    &::after,
	    &::before {
		top:50%;
		transform-origin:50% 50%;
		bottom:auto;
	    }
	    &::after {
		transform:translateY(-50%) rotate(45deg);
	    }
	    &::before {
		transform:translateY(-50%) rotate(-45deg);
	    }
	}
    }
}

#site-header {
    position:fixed;
    z-index:100;
    width:100%;
    transition:background .5s;
    &.sticky,
    &.permanent-sticky{
	background:@brand-dark;
    }
    .navbar-brand {
	padding-top:3px;
	padding-bottom:7px;
    }
    .navbar {
	background:transparent;
    }
    .navbar-desktop > .container > .row {
	width:100%;
	margin-left:auto;
	margin-right:auto;
    }
}

#page-submenu {
    z-index:100;
    background:@brand-dark;
    .page-submenu {
	width:100%;
	justify-content:center;
    }
    .nav-item {
	padding-left:15px;
	padding-right:15px;
	
    }
    .nav-link {
	.fs-service;
	.fw-700;
	text-transform:uppercase;
	color:#fff;
	padding-top:1.8em;
	padding-bottom:1.8em;
	position:relative;
	&::after {
	    .extra-content;
	    top:auto;
	    bottom:0;
	    left:0;
	    width:100%;
	    height:2px;
	    backgrouund:transparent;
	    transition:all .5s;
	}
    }
    .nav-item.active .nav-link::after,
    .nav-link:hover::after {
	background:@brand2-light;
    }
}


/* FOOTER */
#site-footer {
    color:#fff;
    a {
	text-decoration:none;
	&:hover {
	    color:#fff;
	}
    }
}
#footer-main{
    .fs-service;
    background:@bg-dark;
    padding-top:65px;
    padding-bottom:60px;
    position:relative;
    z-index:0;
    .brand-footer-wrap img {
	width:100%;
    }
    .button {
	background-color:@bg-dark;
	.ita-hover(@border-radius:3px);
    }
    nav li:first-child a {
	.fw-700;
    }
    .nav-item {
	margin-bottom:5px;
    }
    .nav-link {
	padding:0;
    }
    .nav-social {
	.px2rem(18);
	.nav-item {
	    padding:0 5px;
	}
    }
}
#colophon {
    .fs-service-small;
    background:@bg-dark2;
    padding-top:20px;
    padding-bottom:5px;
    .legal-nav {
	.nav-link {
	    padding:0;
	    margin-left:5px;
	    &:after {
		content:"-";
		margin-left:5px;
	    }
	    
	}
	.nav-item:last-child {
	    .nav-link{
		&:after {
		    display:none;
		}
	    }
	}
    }
}

/* ******  MAIN  ***** */


/* MODULI */
.hero {
    position:relative;
    z-index:0;
    overflow:hidden;
    .hero-caption {
	position:absolute;
	top:20%;
	left:50%;
	z-index:10;
	transform:translateX(-50%);
	text-align:center;
	color:#fff;
	max-height:50%;	
	.title {
	    .h4;
	}
	&.page-caption {
	    top:35%;
	    text-align:left;
	    .title {
		.h1;
	    }
	}
    }
    .hero-footer {
	position:absolute;
	top:auto;
	bottom:30px;
	left:50%;
	z-index:10;
	text-align:center;
	color:#fff;
	max-height:25%;
	transform:translateX(-50%);

	nav {
	    display:none;
	}
	.button-down {
	    margin-bottom:-15px;
	}
    }


    .video-wrap {
	overflow:hidden;
	position:relative;
	z-index:9;
	height:82.04vh;
	height:~"calc(100vh - 120px)";
	min-height:552px;
    }
    video {
	position:absolute;
	top:50%;
	left:50%;
	height:100%;
	min-height:100%;
	width:auto;
	transform:translate(-50%, -50%);
    }
    .video-bg {
    &::after {
		.extra-content;
		width:100%;
		height:100%;
		top:0;
		left:0;
		background:@brand-darkest;
		opacity:.45;
		z-index:9;
    }
    }
    .iframe-wrap {
	position:absolute;
	height:82.04vh;
    }
    .iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
    }
}

.page-hero {
    background-color:@brand-darkest;
    background-repeat:no-repeat;
    background-position:50% 50%;
    background-size:cover;
    max-height:~"calc(100vh - 120px)";
    min-height:552px;
    overflow:hidden;
    &:not(.no-mchange) {
	.hero-caption {	 
	    top:auto;
	    bottom:35px;
	}
    }
    .hero-caption {
	position:absolute;
	top:~"calc(50% - 80px)";
	color:#fff;
	.title {
	    .h1;
	    letter-spacing:-1px;
	}
	.text:not(:last-child) {
	    margin-bottom:25px;
	}
    }
    .hero-footer {
	position:absolute;
	top:auto;
	bottom:15px;
	left:50%;
	z-index:10;
	text-align:center;
	color:#fff;
	max-height:25%;
	transform:translateX(-50%);
    }
    .logo-wrap {
	.mb-xxsmall;
	height:100px;
	img {
	    max-height:100%;
	    width:auto;
	}
    }
}

.page-hero.page-hero--large {
    min-height:658px;
    &:not(.no-mchange) {
	.hero-caption {	 
	    top:32%;
	    bottom:auto;
	}
    }
}

.hero-footer .button-down.view-on {
    animation-name: slide-bottom;
    animation-duration:2s;
    animation-fill-mode:both;
    animation-iteration-count: 3;
} 

/**
 * ----------------------------------------
 * animation slide-bottom
 * ----------------------------------------
 */


@keyframes slide-bottom {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(0);
    }
}

.filter-wrap {
    label {
	color:#fff;
    }
}

.dark-wrap {
    .section-heading,
    .txtimg {
	color:#fff;
    }
}

.section-heading {
    .mb-medium;
    .title{
	.h1;
	line-height:1.2;
	margin-bottom:10px;
    }
    .subtitle {
	.fw-400;
	.h5;
    }
    &.top-page {
	margin-bottom:0;
	.title {
	    .h1-fix;
	}
    }
}

.txtimg {
    align-items:center;
    .hgroup {
	margin-bottom:1em;
    }
    .title {
	.h1;
	line-height:1.43;
	margin-bottom:0;
    }
    .subtitle {
	.h2;
	margin-bottom:0;
    }
    .mail {
	.fw-700;
	.fs-service;
	text-decoration:none;
	text-transform:uppercase;
	color:@brand;
	
    }
    .text {
	&:not(:last-child){
	    margin-bottom:1.8em;
	} 
	p:not(:last-child) {
	    margin-bottom:1.8em;
	}
	strong {
	    .fw-700;
	}
	a {
	    .standard-textlink;
	}
	
    }
    
    .img-wrap {
	position:relative;
	&:not(.double) {
	    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
	}
	&.double {
	    margin-bottom:-12.6003%;
	    /*margin-bottom:-24.1206%;*/
	    
	    img {
		box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.16);
		max-width:70.1378%;
		position:relative;
		&:nth-child(1) {
		    margin-left:29.8622%;
		    z-index:2;
		}
		&:nth-child(2) {
		    transform:translateY(-35.2941%);
		    z-index:1;
		}
	    }
	}
	.block-title {
	    .h2-fix;
	    position:absolute;
	    top:auto;
	    left:15px;
	    bottom:5px;
	    color:#fff;
	}
    }
}

/* stile animazione */
.txtimg {
    position:relative;
    opacity:0;
    transform:translateY(100px);
    transition:opacity .8s ease-in, transform .7s ease-out;
    .hgroup:not(:first-child),
    .text,
    .reference,
    .dida{
	position:relative;
	transform:translateY(30px);
	transition:all .5s ease-out;
	transition-delay:.5s;
    }
    &.view-on {
	opacity:1;
	transform:translateY(0);
	.hgroup:not(:first-child), 
	.text,
	.reference,
	.dida {
	    transform:translateY(0);
	}
    }
}


/* CARDS */

.card {
    position:relative;
    z-index:0;
    padding:32px 38px;
    height:100%;
    background:#fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    &::after {
	display:none;
    }
    .img-wrap {
	margin-bottom:15px;
	display:flex;
	align-items:center;
	justify-content:center;
	height:155px;
	text-align:center;
    }
    .title {
	.h4;
	text-align:center;
    }
    .text {
	text-align:center;
	margin-bottom:25px;
	min-height:75px;
    }
    .nav-intro {
	color:@brand;
    }
}


.card2 {
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #fff;
    overflow:hidden;
    position:relative;
    padding-bottom:40px;
    .img-wrap {
	margin-bottom:10px;
	&:empty,
	&.empty {
	    position:relative;
	    /*	    .extra-content(@position:static);*/
	    padding-top:50%;
	    background-color:@brand;
	}
	& > .logo {
	    top:10%;
	    left:10%;
	    position:absolute;
	    height:80%;
	    width:80%;
	    background-position:50% 50%;
	    background-repeat:no-repeat;
	    background-size:contain;
	}
    }
    .content-wrap {
	padding:10px 25px 25px;
    }
    .footer-wrap {
	position:absolute;
	width:100%;
	padding:0 25px;
	left:0;
	top:auto;
	bottom:25px;
    }
    .title {
	.h4;

    }
    .tag-wrap {
	margin-bottom:5px;
    }
    .text{
	margin-bottom:5px;
    }
    &.incentivi .img-wrap.empty {
	background-color:@brand2-lightest;
    }
    &.contest {
	.img-wrap.empty {
	    background-color:@brand-darkest;
	}
	.title {
	    color:@brand;
	}
    }
}

.card-content-item {
    padding:25px 20px;
    border-radius: 8px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    .title {
	.h4;
    }
    .footer-wrap {
	.pt-medium;
    }
}
.card-ita {
    border-radius:5px;
    background:@gray-card;
    padding:40px 15px;
    text-align:center;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.13);
    &:not(.disabled) {
	.ita-hover(@border-radius:5px,@mobile-fix:true);
    }
    .img-wrap {
	margin-left:auto;
	margin-right:auto;
	width:60.71%;
	width:50%;
	margin-bottom:10px;
    }
    .hroup {
	margin-bottom:24px;
    }
    .title {
	.px2rem(40);
	.fw-900;
	line-height:1;
	color:@early;
	text-transform:uppercase;
	.big {
	    display:block;
	    color:@brand;
	    /*.px2rem(48);*/
	}
    }
    .text {
	padding-right:10px;
	padding-left:5px;
	&:not(:last-child) {
	    margin-bottom:24px;
	}
    }
    &.early .title {
	color:@early;
    }
    &.growth .title {
	color:@growth;
    }
    &.pmi-innovative .title {
	color:@pmi-innovative;
    }
}
.card-logo {
    border-radius: 4px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.13);
    background-color: #fff;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:8.31% 19.94%;
    .img-wrap {
	flex-basis:100%;
	text-align:center;
    }
    img {
	max-height:100%;
    }
    
}
.card-logo-square {
    .logo-square-wrap;
}
.card-logo-square-light {
    .logo-square-wrap(@background:#fff);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.13);
}

.card-download {
    position:relative;
    padding:20px 25px 25px;
    padding-left:~"calc(25% + 20px)"; 
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13);
    background:@gray-card;
    .download-ico {
	position:absolute;
	left:0;
	top:0;
	width:25%;
	height:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	background-color: rgba(216,216,216,.18);
    }
    .title {
	.fs-big;
	.fw-700;
	text-transform:uppercase;	
    }
}
.dark-wrap .card-download {
    color:#fff;
    background:#07008c;
}
.news-type {
    border-radius: 8px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #fff;
    padding:24px 20px;
    .title {
	.h4;
    }
    .text {
	p:not(:last-child) {
	    margin-bottom:1.8em;
	}
    }
}

/* LISTE NUMERATE 3 quadrati */

.square-list,
.square-list-compact,
.square-list-titled {
    &.single-counter .main-list {
	list-style-type:none;
	counter-reset:item;
	& > li::before {
	    counter-increment: item;
	    content: counter(item);
	}
    }
    &.multi-counter {
	list-style-type:none;
	counter-reset:item-multi;
	.main-list >  li::before {
	    counter-increment: item-multi;
	    content: counter(item-multi);
	}
    }
    .main-list {
	margin:0;
	padding:0;
	& > li {
	    position:relative;
	    list-style-type:none;
	    &::before {	
		position:absolute;
		display:block;
		text-align:center;
		color:#fff;
		background:@brand-dark;
		z-index:1;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13);
	    }
	}
    }
    .main-list > li ul {
	.little-square-list;	
    }
}


.square-list,
.square-list-compact {
    .main-list {
	.item {
	    &::after,
	    &::before {
		.extra-content;
		z-index:0;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13);
	    }
	    &::after {
		background:@brand2-dark;
	    }
	    &::before {
		background:@brand3;
	    }
	}
    }   
}



.square-list {
    .title {
	.h1;
	.mb-xsmall;
    }
    .main-list{
	& > li {
	    .mb-medium;
	    padding-bottom:20px;
	    padding-top:90px;
	    &::before {	
		top:0;
		left:0;
		width:68px;
		height:68px;
		line-height:68px;
		.h1-fix;
		.fw-700;
	    }
	    
	    .item {
		&::after,
		&::before {
		    width:68px;
		    height:68px;
		}
		&::after {
		    top:8px;
		    left:-8px;
		}
		&::before {
		    top:-8px;
		    left:8px;
		}	
	    }
	    
	    .item-title {
		.h4;
		text-transform:uppercase;
		margin-bottom:15px;
	    }
	    
	}
    }
    
}



.square-list-compact {
    .main-list > li {
	.mb-xxsmall;
	&::before {
	    top:10px;
	    width:41px;
	    height:41px;
	    line-height:41px;
	    .px2rem(24);
	    .fw-700;
	}
	.item {
	    padding-left:74px;
	    line-height:1.2;
	}
	.item::before,
	.item::after {
	    top:10px;
	    width:41px;
	    height:41px;
	}
	.item::before{
	    left:5px;
	    margin-top:-5px;
	}
	.item::after {
	    left:-4px;
	    margin-top:5px;
	}
    }
}


.square-list-titled {
    .main-list > li {
	.mb-small;
	&::before {
	    top:0;
	    left:0;
	    width:41px;
	    height:41px;
	    line-height:41px;
	    .px2rem(24);
	    .fw-700;
	}
    }
    .item-title {
	.h3;
	text-transform:uppercase;
	position:relative;
	padding-left:74px;
	padding-bottom:15px;
	&::after,
	&::before {
	    .extra-content;
	    width:41px;
	    height:41px;
	    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13);
	    
	}
	&::before{
	    top:-4px;
	    left:4px;
	    background:@brand3;
	}
	&::after {
	    top:4px;
	    left:-4px;
	    background:@brand2;
	}
    }
}


.section-title-counter {
    counter-reset:section-title;
    .item-title-wrap {
	position:relative;
	margin-bottom:20px;
	&::after,
	&::before {
	    .extra-content;
	    z-index:0;
	    width:68px;
	    height:68px;
	    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13);
	}
	&::after {
	    top:8px;
	    left:-8px;
	    background:@brand2-dark;
	}
	&::before {
	    top:-8px;
	    left:8px;
	    background:@brand3;
	}
    }
    .item-title {
	.h4;
	text-transform:uppercase;
	position:relative;
	padding-top:90px;
	&::before {
	    content:counter(section-title);
	    counter-increment:section-title;
	    top:0;
	    left:0;
	    width:68px;
	    height:68px;
	    line-height:68px;
	    .h1-fix;
	    .fw-700;
	    position:absolute;
	    display:block;
	    text-align:center;
	    color:#fff;
	    background:@brand-dark;
	    z-index:1;
	    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13);
	}
    }
}
.dark-wrap .item-title-wrap .item-title::before {
    background:#fff;
    color:@brand;
}
.dark-wrap.scroll-item-wrap {
    color:#fff;
}


/* HOME */
#home-partner-sl {
    .pt-large;
    .pb-xxsmall;
    .owl-dots {
	.mt-xxsmall;
    }
    
    .item {
	background:@brand-darkest;
	padding-bottom:100%;
	overflow:hidden;
	img {
	    display:block;
	}
	.logo-wrap {
	    position:absolute;
	    top:50%;
	    left:50%;
	    width:80%;
	    height:80%;
	    display:block;
	    background-repeat:no-repeat;
	    background-position:50% 50%;
	    background-size:contain;
	    transform:translate(-50%,-50%);
	}
    }
}

#home-news-sl {
    .owl-stage {
	align-items:stretch;
	display:flex;
	.owl-item,
	.item {
	    display:flex;
	    align-items:stretch;
	}
    }
    .owl-dots {
	.mt-xxsmall;
	position:;
	left:0;
	@media (min-width:576px) {
	    width:~"calc(100% - 8.33% - ((100vw - 540px) / 2))";
	}
	@media (min-width:768px) {
	    width:~"calc(100% - 8.33% - ((100vw - 668px) / 2))";
	}
	@media (min-width:992px) {
	    width:~"calc(100% - 8.33% - ((100vw - 960px) / 2))";
	}
	@media (min-width:1200px) {
	    width:~"calc(100% - 8.33% - ((100vw - 1184px) / 2))";
	}
    }
    .owl-stage {
	padding-left:1px!important;
	.item {
	    padding-bottom:10px;
	}
    }
}

/* PARTNER */
.partner-counter {
    display:flex;
    align-items:stretch;
    flex-wrap:wrap;
    background:@gray-card;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13);
    text-align:center;
    padding-top:40px;
    padding-bottom:30px;
    height:100%;
    & > div {
	flex-basis:100%;
	max-width:100%;
    }
    .number {
	.fw-900;
	.px2rem(100);
	line-height:.64;
	color:@brand;
	margin-bottom:20px;
    }
}

/* ECOSISTEMA */
.map-embed iframe {
    width:100%;
    height:auto;
}
#map-mobile {
    .modal-dialog {
	margin:15px;
	.close {
	    position:absolute;
	    z-index:10;
	    left:auto;
	    right:15px;
	    top:15px;
	    color:#000;
	    opacity:1;
	    text-shadow:none;
	}
    }
    .modal-content {
	height:~"calc(100vh - 30px)";
	.modal-body {
	    padding:0;
	}
	iframe {
	    position:relative;
	    z-index:1;
	    width:100%;
	    height:100%;
	}
    }
}

#manifesto-ban {
    .pt-xlarge;
    padding-bottom:48.78vw;
    color:#fff;
    background-image:url("../img/bg-manifesto-italy.png");
    background-repeat:no-repeat;
    background-position:4.28571vw 0;
    background-size:99.09% auto;
    position:relative;
    &::after {
	.extra-content;
	left:auto;
	right:0;
	top:0;
	width:111px;
	height:113px;
	transform:translateY(-1.73160173160173%);
	background:url("../img/bg-manifesto-flag.svg") no-repeat 0 0;
	background-size:100% auto;
    }
    .title {
	.h1;
	line-height:1.43;
	margin-bottom:20px;
    }
    
}

/* PROGRAMMA */

.section-early .item-title strong {
    color:@early;
}
.section-growth .item-title strong {
    color:@growth;
}
.section-pmi-innovative .item-title strong {
    color:@pmi-innovative;
}

.program-main .item-wrap:not(:last-child) {
    background-image:url('../img/arrow-gradient-down.svg');
    background-repeat:no-repeat;
    background-position:left 45% bottom 30px;
}

.program-main {
    .mini-card {
	.mb-xsmall;
	.img-wrap {
	    display:flex;
	    align-items:center;
	    justify-content:center;
	    height:160px;
	    padding:26px 30px;
	    margin-bottom:20px;
	    background:#fff;
	    border-radius: 8px;
	    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
	}
	.title {
	    .fs-service;
	    .fw-700;
	    text-transform:uppercase;
	}
    }
    .list-title {
	.fs-service;
	.fw-700;
	text-transform:uppercase;
	color:@brand;
    }
    ul {
	.little-square-list;
	.mb-xxsmall;
    }
    .dark-wrap {
	ul li::before {
	    background:@brand2-dark;
	}
	.list-title {
	    color:@brand2-dark;
	}
    }
}
.program-ico {
    overflow:hidden;
    .program-name {
	background-repeat:no-repeat;	
	background-position:0 .2em;
	background-size:100% ~"calc(100% - .2em)";
	.px2rem(58);
	.fw-900;
	line-height:1;
	text-transform:uppercase;
	padding-left:110px;
	strong {
	    display:block; 
	    text-transform:uppercase;
	    .fw-900;
	}
    }
    &.early {
	.program-name {
	    strong {
		color:@early;
		
	    }
	}
    }
    &.growth {
	.program-name {
	    strong {
		color:@growth;
		
	    }
	}
    }
    &.pmi-innovative {
	.program-name {
	    strong {
		color:@pmi-innovative;
		
	    }
	}
    }
}


/* CONTATTI */
.scroll-item-wrap {
    position:relative;

}
.contact-card.v-offset {
    position:relative;
    top:-100px;
    margin-bottom:-100px;
}


/* PAGINE ERRORE */

.site-error-message {
    position:relative;
    .text {
	.fs-service;
	.fw-700;
    }
    .text-wrap {
	position:absolute;
	top:80%;
    }
}






/* MEDIA QUERY */
@media (max-width:991px) {
    #site-header {
	&.sticky {
	    .navbar-mobile {
		background:@brand-dark;
	    }
	}
	.bootstrap-select.mi-select.lang {
	    margin-bottom:20px;
	    .dropdown-toggle {
		color:@brand;
		&::after {
		    border-color:@brand;
		}
	    }
	}
    }
    .navbar-mobile {
	padding:0;
	z-index:100;
	transition:box-shadow .5s;
    }
    .navbar-desktop {
	position:absolute;
    }
    #main-menu {
	position:fixed;
	z-index:99;
	left:0;
	width:100%;
	height:100vh;
	background:#fff;
	transform:translateX(100%); 
	transition:all .5s;
	text-align:center;
	&::before {
	    .extra-content;
	    height:12px;
	    width:100%;
	    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
	}
	&.collapse.show {
	    transform:translateX(0);
	}
	.navs-wrap {
	    overflow:auto;
	    .pt-xxsmall;
	    .nav-link {
		.h5;
		.fw-700;
		color:@brand;
		.mb-xxsmall;
	    }
	    .nav-intro {
		color:@brand;
	    }
	}
	.navbar-nav {
	    text-align:center;
	}
    }

    
    .page-hero.page-hero--large {
	min-height:816px;
	&.plus-filter2 {
	    .hero-caption {
		top:auto;
		bottom:250px;
	    }
	}
	&.plus-filter4 {
	    .hero-caption {
		top:auto;
		bottom:330px;
	    }
	}
    }
}

@media (max-width:767px) {
    #footer-main .button {
	width:100%;
    }
    .responsive-nobg {
	background:transparent;
	&::before{
	    display:none;
	}
    }
    .responsive-bg-offset {
	position:relative;
	&::before {
	    .extra-content;
	    width:100%;
	    height:~"calc(100% - 170px)";
	    background:#fff;
	    top:auto;
	    bottom:0;
	    left:0;
	    background:#fff;
	}
    }
    section + section {
	.sidebar-main:not(.program-main) {
	    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.14);
	}
    }
    .page-hero.page-hero--large.plus-filter2 {
	.hero-caption {
	    top:auto;
	    bottom:320px;
	}
    }
    .page-hero.page-hero--large.plus-filter4 {
	.hero-caption {
	    top:auto;
	    bottom:480px;
	}
    }

    .hero-caption .reference-mb-fix {
	position:fixed;
	top:auto;
	bottom:0;
	left:0;
	width:100%;
	background:#fff;
	z-index:100;
	padding:8px 15px;
	.button {
	    width:100%;
	}
    }
}

@media (max-width:575px) {
}




@media (min-width:576px) {
    .offset-container-left,
    .offset-container-left-sm {
	margin-left:~"calc((((100vw - 540px) / 2) + 30px) * -1)";
    }
    .offset-container-right,
    .offset-container-right-sm {
	margin-right:~"calc((((100vw - 540px) / 2) + 30px) * -1)";
    }
}

@media (min-width:768px) {   
    .offset-container-left,
    .offset-container-left-sm,
    .offset-container-left-md {
	margin-left:~"calc((((100vw - 668px) / 2) + 30px) * -1)";
    }
    .offset-container-right,
    .offset-container-right-sm,
    .offset-container-right-md {
	margin-right:~"calc((((100vw - 668px) / 2) + 30px) * -1)";
    }
   
    .button {
	min-width:165px;
    }
    .nav-social.nav-social--square.invert .nav-link {
	width:56px;
	height:56px;
    }
    .light-switch {
	background:transparent;
    }
    .page-hero {
	height:39.42vw;
	&:not(.no-mchange) .hero-caption,
	.hero-caption {
	    left:50%;
	    top:35%;
	    bottom:auto;
	    transform:translate(-50%, -17.5%);
	}
	.logo-wrap {
	    height:160px;
	}
    }
    .page-hero.page-hero--large {
	height:50.5555vw;
	height:45.694444vw;
    }
    .card2 {
	min-height:500px;
	.title {
	    &:not(.simple) {
		min-height:4em;
	    }
	}
    }
    #manifesto-ban {
	padding-top:0;
	padding-bottom:0;
	min-height:40.5714vw;
	background-position:4.28571vw 0;
	background-size:auto 100%;
	position:relative;
	display:flex;
	align-items:center;
	position:relative;
	z-index:3;
	&::after {
	    width:16.6428%;
	    height:16.5vw;
	}
	.title {
	    line-height:1.2;	
	}
    }
    .news-type {
	padding:32px;
    }
  

    .sidebar-wrap {
	position:relative;
	.col-sidebar {
	    position:absolute;
	    left:auto;
	    right:0;
	    top:0;
	    z-index:1;
	    height:100%;
	    max-width:28.68055%;
	    flex-basis:28.68055%;
	}
	.sidebar-main {
	    position:relative;
	    z-index:0;
	    top:0;
	}
    }

    .site-error-message {
	.text {
	    .px2rem(24);
	    .fw-700;
	}
    }
    .program-ico {
	.program-name {
	    .px2rem(76);
	    padding-left:150px;
	}
    }
    .program-main {
	.min-card-container {
	    width:85.71%;
	}
    }
}

@media (min-width:992px) {
    .offset-container-left,
    .offset-container-left-sm,
    .offset-container-left-md,
    .offset-container-left-lg{
	margin-left:~"calc((((100vw - 960px) / 2) + 15px) * -1)";
    }
    .offset-container-right,
    .offset-container-right-sm,
    .offset-container-right-md,
    .offset-container-right-lg{
	margin-right:~"calc((((100vw - 960px) / 2) + 15px) * -1)";
    }
    
 
    
    #site-header {
	.navbar {
	    .fs-service;
	    color:#fff;
	    .nav-link {
		margin-left:15px;
		margin-right:15px;
		border-bottom:2px solid transparent;
		transition:all .3s ease-in;
	    }
	    .nav-item:hover .nav-link,
	    .active .nav-link {
		border-bottom-color:@brand2-light;
		color:#fff;
	    }
	}
	  .navbar-desktop .navbar-brand {
		max-width:115px;
	  }
	.lang {
	    margin-left:15px;
	}
    }
    #main-menu {
    	justify-content:flex-end;
	.navs-wrap {
	    display:flex;
	    align-items:center;
	    justify-content:flex-end;
	}
    }
    .square-list .main-list > li {
	padding-top:0;
	padding-bottom:0;
	.item {
    	    padding-left:104px;
	}
    }
    .hero {
	.hero-footer {
	    bottom:15px;
	    nav {
		display:inline-block;
	    }
	}
	.video-bg {
	    position:relative;
	    
	}
	.video-wrap {	   
	    height:47.9166vw;
	}
	video {
	    max-width:100%;
	    width:100%;
	    height:auto;
	}
    }
    
    .card-content-item {
	padding:70px 95px 50px;
    }
    .txtimg {
	.title {
	    line-height:1.2;
	}
	.img-wrap .block-title {
	    left:30px;
	    bottom:15px;
	}
    }
    .square-list-compact {
	.main-list > li {
	    .mb-xxsmall;
	    &::before {
		top:50%;
		transform:translateY(-50%);
		width:68px;
		height:68px;
		line-height:68px;
		.h1-fix;
	    }
	    .item {
		padding-left:104px;
		line-height:1.6;
	    }
	    .item::before,
	    .item::after {
		top:50%;
		transform:translateY(-50%);
		width:68px;
		height:68px;
	    }
	    .item::before{
		left:8px;
		margin-top:-8px;
	    }
	    .item::after {
		left:-8px;
		margin-top:8px;
	    }
	}
    }
    
    .square-list-titled {	
	.main-list > li {
	    &::before {
		width:68px;
		height:68px;
		line-height:68px;
		.h1-fix;
	    }
	}
	.item-title {
	    padding-left:104px;
	    line-height:1.6;
	    padding-bottom:45px;
	}
	.item-title::before,
	.item-title::after{
	    width:68px;
	    height:68px;
	}
	.item-title::before{
	    left:8px;
	    top:-8px;
	}
	.item-title::after {
	    left:-8px;
	    top:8px;
	}
    }
    
    .counter-wrap {
	& > div:nth-child(1) {
	    .mb-xxsmall;

	}
    }

    .item-title-wrap .item-title {
	padding-top:0;
	padding-left:90px;
	display:flex;
	align-items:center;
	min-height:68px;
    }
    .partner-counter {
	.number {
	    .fw-900;
	    .px2rem(100);
	    color:@brand;
	}
    }
    .partner-counter {
	padding-top:40px;
	padding-bottom:30px;
	.number {
	    margin-bottom:20px;
	}
    }
}

@media (min-width:1200px) {
    .offset-container-left,
    .offset-container-left-sm,
    .offset-container-left-md,
    .offset-container-left-lg,
    .offset-container-left-xl{
	margin-left:~"calc((((100vw - 1184px) / 2) + 15px) * -1)";
    }
    .offset-container-right,
    .offset-container-right-sm,
    .offset-container-right-md,
    .offset-container-right-lg,
    .offset-container-right-xl{
	margin-right:~"calc((((100vw - 1184px) / 2) + 15px) * -1)";
    }
    .txtimg {
	.v-offset {
	    margin-bottom:-35px;
	    z-index:3;
	}
    }
    .card2 {
	.title:not(.simple) {
	    min-height:2.5em;
	}
    }
}

@media (min-width:992px) and (max-width:1440px) {
    .sidebar-wrap .sidebar-main {
	padding-right:5%;
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .card {
	.img-wrap img {
	    flex-basis:100%;
	} 
    }
}

@font-face {
    font-family: "Titillium Web";
    src: url("../../vendors/bootstrap-italia/fonts/Titillium_Web/TitilliumWeb-Black.woff") format("woff"),
    url("../../vendors/bootstrap-italia/fonts/Titillium_Web/TitilliumWeb-Black.woff2") format("woff2"),
    url("../../vendors/bootstrap-italia/fonts/Titillium_Web/TitilliumWeb-Black.ttf") format("ttf");
    font-weight: 900;
}




