/* var */
/* mixin */
/* definisce una proprità in base a un array di valori  
	    per i vari break point */
/* restituisce misura in percentuale */
/* 
@prop: proprietà da definire
@size: misura da calcolare
@size-compare: misura dell'elemnto padre in base alla quale calcolare la percentuale
@negative: opzionale: restituisce il valore negativo se a true 
*/
.standard-textlink {
  font-weight: 700;
  color: #0d00ff;
  text-decoration: underline;
  -webkit-transition: color 1s;
  transition: color 1s;
}
.standard-textlink:hover {
  color: #0b00d9;
}
/* GENERAL */
html {
  font-size: 100%;
}
body {
  font-size: 100%;
  font-weight: 400;
  color: #000a12;
}
section {
  position: relative;
}
/* fix bootstrap-ita */
.container,
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  padding-right: 15px;
  padding-left: 15px;
}
#page-content {
  overflow: hidden;
}
#page-content.no-hero {
  padding-top: 60px;
}
/* colonne disallineate rispetto alla griglia */
.offset-container-left {
  margin-left: -15px;
}
.offset-container-right {
  margin-right: -15px;
}
a {
  color: inherit;
}
p:not(:last-child) {
  margin-bottom: 1.8em;
}
p:last-child {
  margin-bottom: 0;
}
h1,
.h1 {
  font-size: 1.75em;
  font-weight: 700;
  letter-spacing: 0;
}
@media (min-width: 768px) {
  h1,
  .h1 {
    font-size: 2.5em;
  }
}
h1.fix,
.h1-fix {
  font-size: 2.5rem;
}
h2,
.h2 {
  font-size: 2rem;
  font-weight: 700;
}
h2.fix,
.h2-fix {
  font-size: 2rem;
}
h3,
.h3 {
  font-size: 1.75rem;
  font-weight: 700;
}
h4,
.h4 {
  font-size: 1.5rem;
  font-weight: 700;
}
h5,
.h5 {
  font-size: 1em;
}
@media (min-width: 768px) {
  h5,
  .h5 {
    font-size: 1.25em;
  }
}
.fs-big {
  font-size: 1.25rem;
}
.fs-service {
  font-size: 0.875rem;
}
.fs-service-small {
  font-size: 0.625rem;
}
.fw-400 {
  font-weight: 400;
}
.fw-700 {
  font-weight: 700;
}
.fw-900 {
  font-weight: 900;
}
b,
strong {
  font-weight: 700;
}
button:focus,
button:active {
  border: 0;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.supertitle {
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #53A5A5;
}
.bm,
.bm-nospace {
  position: absolute;
  top: -60px;
}
.date {
  font-size: 0.75rem;
  text-align: right;
  text-transform: uppercase;
}
.date-range {
  font-size: 0.875rem;
  margin-bottom: 0;
}
.tag {
  font-size: 0.625rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 3px 7px;
  display: inline-block;
  background: #53A5A5;
  color: #fff;
  border-radius: 10px;
  margin-bottom: 8px;
}
.tag:not(:last-child) {
  margin-right: 15px;
}
/* link e bottoni */
.button {
  font-size: 0.875rem;
  font-weight: 700;
  border: 0;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border-radius: 3px;
  background: #0d00ff;
  color: #fff;
  padding: 10px 15px;
  display: inline-block;
  min-width: 165px;
  min-width: 125px;
  position: relative;
}
.button::after,
.button::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 3px;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.button::after {
  top: auto;
  bottom: 0;
  left: 0;
}
.button::before {
  top: 0;
  left: auto;
  right: 0;
}
.button:hover::after {
  background: #32d6d6;
  bottom: -8px;
  left: -8px;
}
.button:hover::before {
  background: #f83e5a;
  top: -8px;
  right: -8px;
}
.button.invert {
  background: transparent;
  border: 1px solid #fff;
}
.button.extradark {
  background: #030040;
  border: 1px solid #fff;
}
.button.large {
  min-width: 290px;
}
.button.full {
  display: block;
  width: 100%;
}
.button:hover {
  text-decoration: none;
  color: #fff;
}
.button.simple:hover::after,
.button.simple:hover::before {
  display: none;
}
.button.disabled {
  background: #d1d3d5;
}
.button.disabled:hover {
  cursor: default;
}
.button.disabled:hover::after,
.button.disabled:hover::before {
  display: none;
}
.button-link {
  font-size: 0.875rem;
  font-weight: 700;
  color: #0d00ff;
  display: inline-block;
  position: relative;
  padding-right: 46px;
  text-transform: uppercase;
  text-decoration: none;
}
.button-link::after {
  content: "";
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  background: #0b00d9 url('../img/arrow-link-to-page.svg') no-repeat 50% 50%;
  background-size: 16px auto;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13);
  left: auto;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.button-link span {
  display: inline-block;
}
.button-link span::after,
.button-link span::before {
  content: "";
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  position: abolute;
  right: 0;
  top: 50%;
  left: auto;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.button-link span::after {
  background: #f83e5a;
}
.button-link span::before {
  background: #53A5A5;
}
.button-link:hover {
  color: #0d00ff;
  text-decoration: none;
}
.button-link:hover span::before {
  right: 4px;
  margin-top: 4px;
}
.button-link:hover span::after {
  right: -4px;
  margin-top: -4px;
}
.button-download {
  font-size: 0.875rem;
  font-weight: 700;
  color: #0d00ff;
  display: inline-block;
  position: relative;
  padding-right: 46px;
  text-transform: uppercase;
  text-decoration: none;
}
.button-download::after {
  content: "";
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  background: #0b00d9 url('../img/arrow-download.svg') no-repeat 50% 50%;
  background-size: 12px auto;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13);
  left: auto;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.button-download:hover {
  color: #0d00ff;
  text-decoration: none;
}
.dark-wrap .button-download {
  color: #fff;
}
.dark-wrap .button-download::after {
  background: #ffffff url('../img/arrow-download-blue.svg') no-repeat 50% 50%;
}
.button-big-link {
  font-size: 1.75rem;
  font-weight: 900;
  line-height: 1.14;
  text-transform: uppercase;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.button-big-link.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}
.button-big-link.column .text {
  padding-bottom: 32px;
  text-align: center;
}
.button-big-link:hover {
  color: inherit;
  text-decoration: none;
}
.button-big-link .text {
  display: inline-block;
  margin-right: 26px;
}
.button-big-link .arrow {
  position: relative;
  display: inline-block;
  width: 68px;
  height: 68px;
  background: #0b00d9 url('../img/arrow-link-to-page.svg') no-repeat 50% 50%;
  background-size: 24px auto;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13);
}
.button-big-link .arrow.back {
  background-image: url('../img/arrow-back.svg');
}
.button-big-link .arrow::after,
.button-big-link .arrow::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13);
}
.button-big-link .arrow:before {
  top: 8px;
  left: -8px;
  background: #32d6d6;
}
.button-big-link .arrow:after {
  top: -8px;
  left: auto;
  right: -8px;
  background: #f83e5a;
}
.button-down {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #ffffff url('../img/arrow-scroll-down.svg') no-repeat 50% 50%;
  background-size: 34px auto;
  position: relative;
}
.button-down::after,
.button-down::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.button-down::after {
  top: auto;
  bottom: 0;
  left: 0;
}
.button-down::before {
  top: 0;
  left: auto;
  right: 0;
}
.button-down:hover::after {
  background: #32d6d6;
  bottom: -8px;
  left: -8px;
}
.button-down:hover::before {
  background: #f83e5a;
  top: -8px;
  right: -8px;
}
.button-deadline {
  background: #0a00d1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  border-radius: 3px;
  overflow: hidden;
}
.button-deadline .link-wrap {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background: #0d00ff;
  text-decoration: none;
  padding: 10px;
}
.button-deadline .deadline-wrap {
  font-size: 0.875rem;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  color: #fff;
  padding: 10px;
}
.button-deadline.disabled .link-wrap {
  color: #000a12;
  background: #d1d3d5;
}
.button-deadline.disabled .deadline-wrap {
  color: #000a12;
  background: #b9bbbd;
}
/* testo redazionale */
.sidebar-main a,
.red a,
.section-heading .text a {
  font-weight: 700;
  color: #0d00ff;
  text-decoration: underline;
  -webkit-transition: color 1s;
  transition: color 1s;
}
.sidebar-main a:hover,
.red a:hover,
.section-heading .text a:hover {
  color: #0b00d9;
}
.sidebar-main .dark-wrap a,
.red .dark-wrap a,
.dark-wrap .section-heading .text a {
  color: #fff;
}
.sidebar-main .dark-wrap a:hover,
.red .dark-wrap a:hover,
.dark-wrap .section-heading .text a:hover {
  color: #00fff8;
}
/* FORM */
.custom-group {
  padding-bottom: 15px;
}
.custom-input {
  font-weight: 400;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
  background-color: #ffffff;
  border: 0;
  padding-left: 20px;
}
.custom-control[type="text"],
.custom-control[type="email"] {
  font-weight: 400;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
  background-color: #ffffff;
  border: 0;
  padding-left: 20px;
}
.custom-control[type="text"],
.custom-control[type="email"] {
  height: 40px;
}
textarea.custom-control {
  resize: none;
  font-weight: 400;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
  background-color: #ffffff;
  border: 0;
  padding-left: 20px;
}
.bootstrap-select.mi-select .dropdown-toggle {
  color: #000a12;
  font-weight: 400;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-radius: 3px;
  /*background:@brand;*/
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
  overflow: hidden;
}
.bootstrap-select.mi-select .dropdown-toggle:focus {
  /*background:@brand!important;*/
  -webkit-box-shadow: none!important;
          box-shadow: none!important;
  outline: 0!important;
}
.bootstrap-select.mi-select .dropdown-toggle:after {
  content: "";
  display: block;
  height: 10px;
  -ms-flex-preferred-size: 10px;
      flex-basis: 10px;
  min-width: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 15px;
  border: 2px solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.bootstrap-select.mi-select .dropdown-toggle:before {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  height: 100%;
  background: #0d00ff;
  top: 0;
  left: auto;
  right: 0;
}
.bootstrap-select.mi-select .dropdown-toggle .filter-option {
  padding: 6px 20px;
  background: #fff;
}
.bootstrap-select.mi-select.mi-select--bordered .dropdown-toggle {
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
}
.bootstrap-select.mi-select.mi-select--bordered .dropdown-toggle:focus {
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13) !important;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13) !important;
}
.bootstrap-select.mi-select .dropdown-menu {
  padding: 0;
  margin: 0!important;
}
.bootstrap-select.mi-select .dropdown-menu::before {
  display: none;
}
.bootstrap-select.mi-select .dropdown-menu li:focus {
  border: 0;
  border: 2px solid green!important;
  -webkit-box-shadow: 0!important;
          box-shadow: 0!important;
}
.bootstrap-select.mi-select .dropdown-menu :focus {
  border: 0;
  -webkit-box-shadow: none!important;
          box-shadow: none!important;
}
.bootstrap-select.mi-select.lang {
  width: auto!important;
}
.bootstrap-select.mi-select.lang .dropdown-toggle {
  width: auto;
  height: auto;
  color: #fff;
  background: transparent;
  border-radius: 0;
  text-transform: uppercase;
  display: block;
  font-weight: 700;
  font-size: 0.875rem;
  padding-bottom: .2rem;
  padding-right: 25px;
}
.bootstrap-select.mi-select.lang .dropdown-toggle::before {
  display: none;
}
.bootstrap-select.mi-select.lang .dropdown-toggle::after {
  position: absolute;
  top: 50%;
  left: auto;
  right: 0;
  border-color: #fff;
  -webkit-transform: translate(100%, -100%) rotate(45deg);
          transform: translate(100%, -100%) rotate(45deg);
}
.bootstrap-select.mi-select.lang .dropdown-toggle .filter-option {
  padding: 0;
  background: inherit;
  float: right;
}
.bootstrap-select.mi-select.lang .dropdown-toggle .filter-option-inner {
  background: inherit;
}
.bootstrap-select.mi-select.lang .dropdown-menu {
  min-width: auto;
  top: 100%;
  z-index: 100;
  background: #fff;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.14);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.14);
}
.message .title {
  font-size: 1.75rem;
  font-weight: 700;
  font-weight: 900;
  text-transform: uppercase;
}
/* UTILS */
/* offset blocchi, background sezioni */
/* offset card principali startup */
.v-offset-card {
  margin-bottom: -50px;
  position: relative;
  z-index: 2;
}
@media (max-width: 991px) {
  .v-offset-card > div:last-child {
    margin-bottom: 0!important;
  }
}
.row.cards-v-wrap > div:last-child {
  margin-bottom: 0!important;
}
/* margin e padding */
.wrap-xxsmall {
  margin-bottom: -32px;
}
.wrap-xxsmall > div {
  margin-bottom: 32px;
}
/* helper class */
.clip {
  overflow: hidden;
}
.no-scroll {
  overflow: hidden;
}
/* WRAPS */
/* da dare alle row con card all'interno per avere tutte le card della stessa misura */
.card-wrap {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.card-wrap > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.card-wrap > div > div {
  height: 100%;
}
.light-switch,
.light-wrap {
  background: #f0f6fc;
  position: relative;
  /* z-index:1;*/
}
.light-switch > .container,
.light-wrap > .container {
  position: relative;
  z-index: 1;
}
.offset-on-hero {
  top: -80px;
  margin-bottom: -80px;
}
.offset-on-hero .filter-wrap {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 10;
  padding-bottom: 17px;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
}
.offset-on-hero .filter-wrap .filter {
  padding-bottom: 15px;
}
.light-wrap-offset {
  position: relative;
}
.light-wrap-offset::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: calc(100% - 80px);
  top: auto;
  bottom: 0;
  left: 0;
  background: #f0f6fc;
}
.light-wrap-offset.offset-small::before {
  height: calc(100% - 46px);
}
.light-wrap-offset-down {
  position: relative;
  top: -80px;
  margin-bottom: -80px;
}
.light-wrap-offset-down .filter-wrap {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 10;
  padding-bottom: 17px;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
}
.light-wrap-offset-down .filter-wrap .filter {
  padding-bottom: 15px;
}
.light-wrap-offset-down::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: calc(100% - 160px);
  top: 80px;
  left: 0;
  background: #f0f6fc;
}
.dark-wrap {
  background: #030040;
  position: relative;
}
.dark-wrap > .container {
  position: relative;
  z-index: 1;
}
/* menu social */
.nav-social.nav-social--round .nav-link,
.nav-social.nav-social--square .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  color: #0d00ff;
  text-decoration: none;
}
.nav-social.nav-social--round .nav-link.min,
.nav-social.nav-social--square .nav-link.min {
  background-image: url("../img/ico-m-blue.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.nav-social.nav-social--round .nav-link i,
.nav-social.nav-social--square .nav-link i {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.nav-social.nav-social--round.invert .nav-link,
.nav-social.nav-social--square.invert .nav-link {
  background-color: #0d00ff;
  color: #fff!important;
}
.nav-social.nav-social--round.invert .nav-link.min,
.nav-social.nav-social--square.invert .nav-link.min {
  background-image: url("../img/ico-m-white.png");
}
.nav-social.nav-social--round .nav-item {
  padding: 0 5px;
}
.nav-social.nav-social--round .nav-link {
  width: 32px;
  height: 32px;
  font-size: 1.2rem;
  border-radius: 100%;
}
.nav-social.nav-social--square .nav-item:not(:last-child) {
  padding-right: 15px;
}
.nav-social.nav-social--square .nav-link {
  width: 50px;
  height: 50px;
  font-size: 1.6rem;
}
.nav-social.nav-social--square--small .nav-link {
  width: 32px!important;
  height: 32px!important;
  font-size: 1rem!important;
}
/* SPACER */
.mt-xxsmall {
  margin-top: 32px;
}
.mb-xxsmall {
  margin-bottom: 32px;
}
.mt-xsmall {
  margin-top: 48px;
}
.mb-xsmall {
  margin-bottom: 48px;
}
.mt-small {
  margin-top: 40px;
}
@media (min-width: 992px) {
  .mt-small {
    margin-top: 64px;
  }
}
.mb-small {
  margin-bottom: 40px;
}
@media (min-width: 992px) {
  .mb-small {
    margin-bottom: 64px;
  }
}
.mt-medium {
  margin-top: 50px;
}
@media (min-width: 992px) {
  .mt-medium {
    margin-top: 80px;
  }
}
.mb-medium {
  margin-bottom: 50px;
}
@media (min-width: 992px) {
  .mb-medium {
    margin-bottom: 80px;
  }
}
.mt-large {
  margin-top: 55px;
}
@media (min-width: 992px) {
  .mt-large {
    margin-top: 95px;
  }
}
.mb-large {
  margin-bottom: 55px;
}
@media (min-width: 992px) {
  .mb-large {
    margin-bottom: 95px;
  }
}
.mt-xlarge {
  margin-top: 60px;
}
@media (min-width: 992px) {
  .mt-xlarge {
    margin-top: 120px;
  }
}
.mb-xlarge {
  margin-bottom: 60px;
}
@media (min-width: 992px) {
  .mb-xlarge {
    margin-bottom: 120px;
  }
}
.mt-xxlarge {
  margin-top: 80px;
}
@media (min-width: 992px) {
  .mt-xxlarge {
    margin-top: 160px;
  }
}
.mb-xxlarge {
  margin-bottom: 80px;
}
@media (min-width: 992px) {
  .mb-xxlarge {
    margin-bottom: 160px;
  }
}
.mt-xxlarge {
  margin-top: 80px;
}
@media (min-width: 992px) {
  .mt-xxlarge {
    margin-top: 160px;
  }
}
.mb-xxlarge {
  margin-bottom: 80px;
}
@media (min-width: 992px) {
  .mb-xxlarge {
    margin-bottom: 160px;
  }
}
.mt-doublelarge {
  margin-top: 95px;
}
@media (min-width: 992px) {
  .mt-doublelarge {
    margin-top: 190px;
  }
}
.mb-doublelarge {
  margin-bottom: 95px;
}
@media (min-width: 992px) {
  .mb-doublelarge {
    margin-bottom: 190px;
  }
}
.mt-doublexlarge {
  margin-top: 120px;
}
@media (min-width: 992px) {
  .mt-doublexlarge {
    margin-top: 240px;
  }
}
.mb-doublexlarge {
  margin-bottom: 120px;
}
@media (min-width: 992px) {
  .mb-doublexlarge {
    margin-bottom: 240px;
  }
}
.pt-xxsmall {
  padding-top: 32px;
}
.pb-xxsmall {
  padding-bottom: 32px;
}
.pt-xsmall {
  padding-top: 48px;
}
.pb-xsmall {
  padding-bottom: 48px;
}
.pt-small {
  padding-top: 40px;
}
@media (min-width: 992px) {
  .pt-small {
    padding-top: 64px;
  }
}
.pb-small {
  padding-bottom: 40px;
}
@media (min-width: 992px) {
  .pb-small {
    padding-bottom: 64px;
  }
}
.pt-medium {
  padding-top: 50px;
}
@media (min-width: 992px) {
  .pt-medium {
    padding-top: 80px;
  }
}
.pb-medium {
  padding-bottom: 50px;
}
@media (min-width: 992px) {
  .pb-medium {
    padding-bottom: 80px;
  }
}
.pt-large {
  padding-top: 55px;
}
@media (min-width: 992px) {
  .pt-large {
    padding-top: 95px;
  }
}
.pb-large {
  padding-bottom: 55px;
}
@media (min-width: 992px) {
  .pb-large {
    padding-bottom: 95px;
  }
}
.pt-xlarge {
  padding-top: 60px;
}
@media (min-width: 992px) {
  .pt-xlarge {
    padding-top: 120px;
  }
}
.pb-xlarge {
  padding-bottom: 60px;
}
@media (min-width: 992px) {
  .pb-xlarge {
    padding-bottom: 120px;
  }
}
.pt-xxlarge {
  padding-top: 80px;
}
@media (min-width: 992px) {
  .pt-xxlarge {
    padding-top: 160px;
  }
}
.pb-xxlarge {
  padding-bottom: 80px;
}
@media (min-width: 992px) {
  .pb-xxlarge {
    padding-bottom: 160px;
  }
}
.pt-xxlarge {
  padding-top: 80px;
}
@media (min-width: 992px) {
  .pt-xxlarge {
    padding-top: 160px;
  }
}
.pb-xxlarge {
  padding-bottom: 80px;
}
@media (min-width: 992px) {
  .pb-xxlarge {
    padding-bottom: 160px;
  }
}
.pt-doublelarge {
  padding-top: 95px;
}
@media (min-width: 992px) {
  .pt-doublelarge {
    padding-top: 190px;
  }
}
.pb-doublelarge {
  padding-bottom: 95px;
}
@media (min-width: 992px) {
  .pb-doublelarge {
    padding-bottom: 190px;
  }
}
.pt-doublexlarge {
  padding-top: 120px;
}
@media (min-width: 992px) {
  .pt-doublexlarge {
    padding-top: 240px;
  }
}
.pb-doublexlarge {
  padding-bottom: 120px;
}
@media (min-width: 992px) {
  .pb-doublexlarge {
    padding-bottom: 240px;
  }
}
.mt-small-fix {
  margin-top: 64px;
}
.mb-small-fix {
  margin-bottom: 64px;
}
.pt-xlarge-fix {
  padding-top: 120px;
}
.pb-xlarge-fix {
  padding-bottom: 120px;
}
.pt-xxlarge-fix {
  padding-top: 160px;
}
.pb-xxlarge-fix {
  padding-bottom: 160px;
}
.pt-small-fix {
  padding-top: 64px;
}
.pt-small-fix {
  padding-bottom: 64px;
}
/* pagina con side bar */
.sidebar-wrap {
  position: relative;
}
.sidebar-wrap .col-sidebar {
  background: #e6f2ff;
}
.sidebar-index-wrap {
  border-left: 1px solid #b8c2cc;
  margin-left: 5px;
  padding: 20px 15px 50px 20px;
}
.sidebar-index-wrap .title {
  display: block;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.sidebar-index-wrap .index {
  margin: 0;
  padding: 0;
}
.sidebar-index-wrap .index li {
  list-style-type: none;
  padding: 12px 0;
  position: relative;
}
.sidebar-index-wrap .index li::after {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  left: -20px;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.sidebar-index-wrap .index li.active {
  font-weight: 700;
  color: #0d00ff;
}
.sidebar-index-wrap .index li.active::after {
  background: #32d6d6;
}
.sidebar-index-wrap .index li a {
  text-decoration: none;
}
.sidebar-index-wrap .index li a:hover {
  color: #0d00ff;
}
.sidebar-index-wrap.single-counter .index {
  counter-reset: index-item;
}
.sidebar-index-wrap.single-counter .index li::before {
  counter-increment: index-item;
  content: counter(index-item) " - ";
}
.sidebar-index-wrap.multi-counter {
  counter-reset: index-multi-item;
  list-style-type: none;
}
.sidebar-index-wrap.multi-counter li ::before {
  counter-increment: index-multi-item;
  content: counter(index-multi-item) " - ";
}
/* menu lingue */
/* menu social */
.social-menu .nav-intro {
  font-size: 0.75rem;
  font-weight: 700;
  padding-left: 5px;
  margin-bottom: 5px;
  text-align: left;
  display: block;
}
/* breadcrumb */
.breadcrumb {
  padding: 0;
  margin: 0;
}
.breadcrumb .breadcrumb-item {
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #979797;
}
.breadcrumb .breadcrumb-item:only-child {

  color: #ffffff;
}
.breadcrumb .breadcrumb-item + .breadcrumb-item {
  color: #ffffff;
}
.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  padding: 0;
  margin-right: 7px;
  border: 2px solid #53A5A5;
  border-width: 2px 2px 0 0;
  position: relative;
  -webkit-transform: translateY(100%) rotate(45deg);
          transform: translateY(100%) rotate(45deg);
}
/* slider generale */
.owl-carousel .owl-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.owl-carousel button.owl-dot {
  display: block;
  height: 8px;
  width: 8px;
  background-color: #e7e6ff;
  border-radius: 100%;
  margin: 0 2px;
}
.owl-carousel button.owl-dot.active {
  background: #7a73ff;
}
.owl-carousel.on-dark button.owl-dot {
  background-color: #d0e2f5;
}
.owl-carousel.on-dark button.owl-dot.active {
  background: #030040;
}
/* HEADER */
.navbar-toggler {
  display: block;
  width: 34px;
  height: 20px;
  padding: 0;
  margin-right: 0;
  margin-left: auto;
}
.navbar-toggler .navbar-toggler-inner {
  display: block;
  position: relative;
  height: 4px;
  width: 100%;
  border-radius: 3px;
  background: #fff;
}
.navbar-toggler .navbar-toggler-inner::after,
.navbar-toggler .navbar-toggler-inner::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 3px;
  background: #fff;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.navbar-toggler .navbar-toggler-inner::after {
  top: -8px;
}
.navbar-toggler .navbar-toggler-inner::before {
  top: auto;
  bottom: -8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-inner {
  background: transparent;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-inner::after,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-inner::before {
  top: 50%;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  bottom: auto;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-inner::after {
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-inner::before {
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}
#site-header {
  position: fixed;
  z-index: 100;
  width: 100%;
  -webkit-transition: background .5s;
  transition: background .5s;
}
#site-header.sticky,
#site-header.permanent-sticky {
  background: #0b00d9;
}
#site-header .navbar-brand {
  padding-top: 3px;
  padding-bottom: 7px;
}
#site-header .navbar {
  background: transparent;
}
#site-header .navbar-desktop > .container > .row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#page-submenu {
  z-index: 100;
  background: #0b00d9;
}
#page-submenu .page-submenu {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#page-submenu .nav-item {
  padding-left: 15px;
  padding-right: 15px;
}
#page-submenu .nav-link {
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  padding-top: 1.8em;
  padding-bottom: 1.8em;
  position: relative;
}
#page-submenu .nav-link::after {
  content: "";
  display: block;
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  backgrouund: transparent;
  -webkit-transition: all .5s;
  transition: all .5s;
}
#page-submenu .nav-item.active .nav-link::after,
#page-submenu .nav-link:hover::after {
  background: #00fff8;
}
/* FOOTER */
#site-footer {
  color: #fff;
}
#site-footer a {
  text-decoration: none;
}
#site-footer a:hover {
  color: #fff;
}
#footer-main {
  font-size: 0.875rem;
  background: #00264d;
  padding-top: 65px;
  padding-bottom: 60px;
  position: relative;
  z-index: 0;
}
#footer-main .brand-footer-wrap img {
  width: 100%;
}
#footer-main .button {
  background-color: #00264d;
  position: relative;
}
#footer-main .button::after,
#footer-main .button::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 3px;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
#footer-main .button::after {
  top: auto;
  bottom: 0;
  left: 0;
}
#footer-main .button::before {
  top: 0;
  left: auto;
  right: 0;
}
#footer-main .button:hover::after {
  background: #32d6d6;
  bottom: -8px;
  left: -8px;
}
#footer-main .button:hover::before {
  background: #f83e5a;
  top: -8px;
  right: -8px;
}
#footer-main nav li:first-child a {
  font-weight: 700;
}
#footer-main .nav-item {
  margin-bottom: 5px;
}
#footer-main .nav-link {
  padding: 0;
}
#footer-main .nav-social {
  font-size: 1.125rem;
}
#footer-main .nav-social .nav-item {
  padding: 0 5px;
}
#colophon {
  font-size: 0.625rem;
  background: #001a33;
  padding-top: 20px;
  padding-bottom: 5px;
}
#colophon .legal-nav .nav-link {
  padding: 0;
  margin-left: 5px;
}
#colophon .legal-nav .nav-link:after {
  content: "-";
  margin-left: 5px;
}
#colophon .legal-nav .nav-item:last-child .nav-link:after {
  display: none;
}
/* ******  MAIN  ***** */
/* MODULI */
.hero {
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.hero .hero-caption {
  position: absolute;
  top: 20%;
  left: 50%;
  z-index: 10;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  color: #fff;
  max-height: 50%;
}
.hero .hero-caption .title {
  font-size: 1.5rem;
  font-weight: 700;
}
.hero .hero-caption.page-caption {
  top: 35%;
  text-align: left;
}
.hero .hero-caption.page-caption .title {
  font-size: 1.75em;
  font-weight: 700;
  letter-spacing: 0;
}
@media (min-width: 768px) {
  .hero .hero-caption.page-caption .title {
    font-size: 2.5em;
  }
}
.hero .hero-footer {
  position: absolute;
  top: auto;
  bottom: 30px;
  left: 50%;
  z-index: 10;
  text-align: center;
  color: #fff;
  max-height: 25%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.hero .hero-footer nav {
  display: none;
}
.hero .hero-footer .button-down {
  margin-bottom: -15px;
}
.hero .video-wrap {
  overflow: hidden;
  position: relative;
  z-index: 9;
  height: 82.04vh;
  height: calc(100vh - 120px);
  min-height: 552px;
}
.hero video {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  min-height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.hero .video-bg::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #050066;
  opacity: .45;
  z-index: 9;
}
.hero .iframe-wrap {
  position: absolute;
  height: 82.04vh;
}
.hero .iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.page-hero {
  background-color: #050066;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  max-height: calc(100vh - 120px);
  min-height: 552px;
  overflow: hidden;
}
.page-hero:not(.no-mchange) .hero-caption {
  top: auto;
  bottom: 35px;
}
.page-hero .hero-caption {
  position: absolute;
  top: calc(50% - 80px);
  color: #fff;
}
.page-hero .hero-caption .title {
  font-size: 1.75em;
  font-weight: 700;
  letter-spacing: 0;
  letter-spacing: -1px;
}
@media (min-width: 768px) {
  .page-hero .hero-caption .title {
    font-size: 2.5em;
  }
}
.page-hero .hero-caption .text:not(:last-child) {
  margin-bottom: 25px;
}
.page-hero .hero-footer {
  position: absolute;
  top: auto;
  bottom: 15px;
  left: 50%;
  z-index: 10;
  text-align: center;
  color: #fff;
  max-height: 25%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.page-hero .logo-wrap {
  margin-bottom: 32px;
  height: 100px;
}
.page-hero .logo-wrap img {
  max-height: 100%;
  width: auto;
}
.page-hero.page-hero--large {
  min-height: 658px;
}
.page-hero.page-hero--large:not(.no-mchange) .hero-caption {
  top: 32%;
  bottom: auto;
}
.hero-footer .button-down.view-on {
  -webkit-animation-name: slide-bottom;
          animation-name: slide-bottom;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
}
/**
 * ----------------------------------------
 * animation slide-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.filter-wrap label {
  color: #fff;
}
.dark-wrap .section-heading,
.dark-wrap .txtimg {
  color: #fff;
}
.section-heading {
  margin-bottom: 50px;
}
@media (min-width: 992px) {
  .section-heading {
    margin-bottom: 80px;
  }
}
.section-heading .title {
  font-size: 1.75em;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.2;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .section-heading .title {
    font-size: 2.5em;
  }
}
.section-heading .subtitle {
  font-weight: 400;
  font-size: 1em;
}
@media (min-width: 768px) {
  .section-heading .subtitle {
    font-size: 1.25em;
  }
}
.section-heading.top-page {
  margin-bottom: 0;
}
.section-heading.top-page .title {
  font-size: 2.5rem;
}
.txtimg {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.txtimg .hgroup {
  margin-bottom: 1em;
}
.txtimg .title {
  font-size: 1.75em;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.43;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .txtimg .title {
    font-size: 2.5em;
  }
}
.txtimg .subtitle {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0;
}
.txtimg .mail {
  font-weight: 700;
  font-size: 0.875rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #0d00ff;
}
.txtimg .text:not(:last-child) {
  margin-bottom: 1.8em;
}
.txtimg .text p:not(:last-child) {
  margin-bottom: 1.8em;
}
.txtimg .text strong {
  font-weight: 700;
}
.txtimg .text a {
  font-weight: 700;
  color: #0d00ff;
  text-decoration: underline;
  -webkit-transition: color 1s;
  transition: color 1s;
}
.txtimg .text a:hover {
  color: #0b00d9;
}
.txtimg .img-wrap {
  position: relative;
}
.txtimg .img-wrap:not(.double) {
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
}
.txtimg .img-wrap.double {
  margin-bottom: -12.6003%;
  /*margin-bottom:-24.1206%;*/
}
.txtimg .img-wrap.double img {
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.16);
  max-width: 70.1378%;
  position: relative;
}
.txtimg .img-wrap.double img:nth-child(1) {
  margin-left: 29.8622%;
  z-index: 2;
}
.txtimg .img-wrap.double img:nth-child(2) {
  -webkit-transform: translateY(-35.2941%);
          transform: translateY(-35.2941%);
  z-index: 1;
}
.txtimg .img-wrap .block-title {
  font-size: 2rem;
  position: absolute;
  top: auto;
  left: 15px;
  bottom: 5px;
  color: #fff;
}
/* stile animazione */
.txtimg {
  position: relative;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: opacity 0.8s ease-in, -webkit-transform 0.7s ease-out;
  transition: opacity 0.8s ease-in, -webkit-transform 0.7s ease-out;
  transition: opacity 0.8s ease-in, transform 0.7s ease-out;
  transition: opacity 0.8s ease-in, transform 0.7s ease-out, -webkit-transform 0.7s ease-out;
}
.txtimg .hgroup:not(:first-child),
.txtimg .text,
.txtimg .reference,
.txtimg .dida {
  position: relative;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}
.txtimg.view-on {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.txtimg.view-on .hgroup:not(:first-child),
.txtimg.view-on .text,
.txtimg.view-on .reference,
.txtimg.view-on .dida {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
/* CARDS */
.card {
  position: relative;
  z-index: 0;
  padding: 32px 38px;
  height: 100%;
  background: #fff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}
.card::after {
  display: none;
}
.card .img-wrap {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 155px;
  text-align: center;
}
.card .title {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}
.card .text {
  text-align: center;
  margin-bottom: 25px;
  min-height: 75px;
}
.card .nav-intro {
  color: #0d00ff;
}
.card2 {
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #fff;
  overflow: hidden;
  position: relative;
  padding-bottom: 40px;
}
.card2 .img-wrap {
  margin-bottom: 10px;
}
.card2 .img-wrap:empty,
.card2 .img-wrap.empty {
  position: relative;
  /*	    .extra-content(@position:static);*/
  padding-top: 50%;
  background-color: #0d00ff;
}
.card2 .img-wrap > .logo {
  top: 10%;
  left: 10%;
  position: absolute;
  height: 80%;
  width: 80%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}
.card2 .content-wrap {
  padding: 10px 25px 25px;
}
.card2 .footer-wrap {
  position: absolute;
  width: 100%;
  padding: 0 25px;
  left: 0;
  top: auto;
  bottom: 25px;
}
.card2 .title {
  font-size: 1.5rem;
  font-weight: 700;
}
.card2 .tag-wrap {
  margin-bottom: 5px;
}
.card2 .text {
  margin-bottom: 5px;
}
.card2.incentivi .img-wrap.empty {
  background-color: #a6f5f2;
}
.card2.contest .img-wrap.empty {
  background-color: #050066;
}
.card2.contest .title {
  color: #0d00ff;
}
.card-content-item {
  padding: 25px 20px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
}
.card-content-item .title {
  font-size: 1.5rem;
  font-weight: 700;
}
.card-content-item .footer-wrap {
  padding-top: 50px;
}
@media (min-width: 992px) {
  .card-content-item .footer-wrap {
    padding-top: 80px;
  }
}
.card-ita {
  border-radius: 5px;
  background: #f5f9fc;
  padding: 40px 15px;
  text-align: center;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.13);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.13);
}
.card-ita:not(.disabled) {
  position: relative;
}
.card-ita:not(.disabled)::after,
.card-ita:not(.disabled)::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.card-ita:not(.disabled)::after {
  top: auto;
  bottom: 0;
  left: 0;
}
.card-ita:not(.disabled)::before {
  top: 0;
  left: auto;
  right: 0;
}
.card-ita:not(.disabled):hover::after {
  background: #32d6d6;
  bottom: -8px;
  left: -8px;
}
.card-ita:not(.disabled):hover::before {
  background: #f83e5a;
  top: -8px;
  right: -8px;
}
@media (max-width: 991px) {
  .card-ita:not(.disabled)::after {
    background: #f83e5a;
    top: auto;
    bottom: -8px;
    left: -8px;
  }
  .card-ita:not(.disabled)::before {
    background: #32d6d6;
    top: -8px;
    left: auto;
    right: -8px;
  }
}
.card-ita .img-wrap {
  margin-left: auto;
  margin-right: auto;
  width: 60.71%;
  width: 50%;
  margin-bottom: 10px;
}
.card-ita .hroup {
  margin-bottom: 24px;
}
.card-ita .title {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1;
  color: #00cf86;
  //text-transform: uppercase;
}
.card-ita .title .big {
  display: block;
  color: #0d00ff;
  /*.px2rem(48);*/
}
.card-ita .text {
  padding-right: 10px;
  padding-left: 5px;
}
.card-ita .text:not(:last-child) {
  margin-bottom: 24px;
}
.card-ita.early .title {
  color: #00cf86;
}
.card-ita.growth .title {
  color: #ff9700;
}
.card-ita.pmi-innovative .title {
  color: #d1344c;
}
.card-logo {
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.13);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.13);
  background-color: #fff;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8.31% 19.94%;
}
.card-logo .img-wrap {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
}
.card-logo img {
  max-height: 100%;
}
.card-logo-square {
  background: #050066;
  padding-bottom: 100%;
  overflow: hidden;
  position: relative;
}
.card-logo-square img {
  display: block;
}
.card-logo-square .logo-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
  display: block;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.card-logo-square-light {
  background: #ffffff;
  padding-bottom: 100%;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.13);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.13);
}
.card-logo-square-light img {
  display: block;
}
.card-logo-square-light .logo-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
  display: block;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.card-download {
  position: relative;
  padding: 20px 25px 25px;
  padding-left: calc(25% + 20px);
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13);
  background: #f5f9fc;
}
.card-download .download-ico {
  position: absolute;
  left: 0;
  top: 0;
  width: 25%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(216, 216, 216, 0.18);
}
.card-download .title {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
}
.dark-wrap .card-download {
  color: #fff;
  background: #07008c;
}
.news-type {
  border-radius: 8px;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #fff;
  padding: 24px 20px;
}
.news-type .title {
  font-size: 1.5rem;
  font-weight: 700;
}
.news-type .text p:not(:last-child) {
  margin-bottom: 1.8em;
}
/* LISTE NUMERATE 3 quadrati */
.square-list.single-counter .main-list,
.square-list-compact.single-counter .main-list,
.square-list-titled.single-counter .main-list {
  list-style-type: none;
  counter-reset: item;
}
.square-list.single-counter .main-list > li::before,
.square-list-compact.single-counter .main-list > li::before,
.square-list-titled.single-counter .main-list > li::before {
  counter-increment: item;
  content: counter(item);
}
.square-list.multi-counter,
.square-list-compact.multi-counter,
.square-list-titled.multi-counter {
  list-style-type: none;
  counter-reset: item-multi;
}
.square-list.multi-counter .main-list > li::before,
.square-list-compact.multi-counter .main-list > li::before,
.square-list-titled.multi-counter .main-list > li::before {
  counter-increment: item-multi;
  content: counter(item-multi);
}
.square-list .main-list,
.square-list-compact .main-list,
.square-list-titled .main-list {
  margin: 0;
  padding: 0;
}
.square-list .main-list > li,
.square-list-compact .main-list > li,
.square-list-titled .main-list > li {
  position: relative;
  list-style-type: none;
}
.square-list .main-list > li::before,
.square-list-compact .main-list > li::before,
.square-list-titled .main-list > li::before {
  position: absolute;
  display: block;
  text-align: center;
  color: #fff;
  background: #0b00d9;
  z-index: 1;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13);
}
.square-list .main-list > li ul,
.square-list-compact .main-list > li ul,
.square-list-titled .main-list > li ul {
  margin: 0;
  padding: 0;
}
.square-list .main-list > li ul li,
.square-list-compact .main-list > li ul li,
.square-list-titled .main-list > li ul li {
  list-style-type: none;
  position: relative;
  padding-left: 20px;
  color: inherit;
}
.square-list .main-list > li ul li:before,
.square-list-compact .main-list > li ul li:before,
.square-list-titled .main-list > li ul li:before {
  content: "";
  display: inline-block;
  position: static;
  position: absolute;
  left: 0;
  top: .5em;
  width: 8px;
  height: 8px;
  margin-right: 15px;
  background: #0d00ff;
}
.square-list .main-list .item::after,
.square-list-compact .main-list .item::after,
.square-list .main-list .item::before,
.square-list-compact .main-list .item::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13);
}
.square-list .main-list .item::after,
.square-list-compact .main-list .item::after {
  background: #32d6d6;
}
.square-list .main-list .item::before,
.square-list-compact .main-list .item::before {
  background: #f83e5a;
}
.square-list .title {
  font-size: 1.75em;
  font-weight: 700;
  letter-spacing: 0;
  margin-bottom: 48px;
}
@media (min-width: 768px) {
  .square-list .title {
    font-size: 2.5em;
  }
}
.square-list .main-list > li {
  margin-bottom: 50px;
  padding-bottom: 20px;
  padding-top: 90px;
}
@media (min-width: 992px) {
  .square-list .main-list > li {
    margin-bottom: 80px;
  }
}
.square-list .main-list > li::before {
  top: 0;
  left: 0;
  width: 68px;
  height: 68px;
  line-height: 68px;
  font-size: 2.5rem;
  font-weight: 700;
}
.square-list .main-list > li .item::after,
.square-list .main-list > li .item::before {
  width: 68px;
  height: 68px;
}
.square-list .main-list > li .item::after {
  top: 8px;
  left: -8px;
}
.square-list .main-list > li .item::before {
  top: -8px;
  left: 8px;
}
.square-list .main-list > li .item-title {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.square-list-compact .main-list > li {
  margin-bottom: 32px;
}
.square-list-compact .main-list > li::before {
  top: 10px;
  width: 41px;
  height: 41px;
  line-height: 41px;
  font-size: 1.5rem;
  font-weight: 700;
}
.square-list-compact .main-list > li .item {
  padding-left: 74px;
  line-height: 1.2;
}
.square-list-compact .main-list > li .item::before,
.square-list-compact .main-list > li .item::after {
  top: 10px;
  width: 41px;
  height: 41px;
}
.square-list-compact .main-list > li .item::before {
  left: 5px;
  margin-top: -5px;
}
.square-list-compact .main-list > li .item::after {
  left: -4px;
  margin-top: 5px;
}
.square-list-titled .main-list > li {
  margin-bottom: 40px;
}
@media (min-width: 992px) {
  .square-list-titled .main-list > li {
    margin-bottom: 64px;
  }
}
.square-list-titled .main-list > li::before {
  top: 0;
  left: 0;
  width: 41px;
  height: 41px;
  line-height: 41px;
  font-size: 1.5rem;
  font-weight: 700;
}
.square-list-titled .item-title {
  font-size: 1.75rem;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  padding-left: 74px;
  padding-bottom: 15px;
}
.square-list-titled .item-title::after,
.square-list-titled .item-title::before {
  content: "";
  display: block;
  position: absolute;
  width: 41px;
  height: 41px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13);
}
.square-list-titled .item-title::before {
  top: -4px;
  left: 4px;
  background: #f83e5a;
}
.square-list-titled .item-title::after {
  top: 4px;
  left: -4px;
  background: #53A5A5;
}
.section-title-counter {
  counter-reset: section-title;
}
.section-title-counter .item-title-wrap {
  position: relative;
  margin-bottom: 20px;
}
.section-title-counter .item-title-wrap::after,
.section-title-counter .item-title-wrap::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  width: 68px;
  height: 68px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13);
}
.section-title-counter .item-title-wrap::after {
  top: 8px;
  left: -8px;
  background: #32d6d6;
}
.section-title-counter .item-title-wrap::before {
  top: -8px;
  left: 8px;
  background: #f83e5a;
}
.section-title-counter .item-title {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  padding-top: 90px;
}
.section-title-counter .item-title::before {
  content: counter(section-title);
  counter-increment: section-title;
  top: 0;
  left: 0;
  width: 68px;
  height: 68px;
  line-height: 68px;
  font-size: 2.5rem;
  font-weight: 700;
  position: absolute;
  display: block;
  text-align: center;
  color: #fff;
  background: #0b00d9;
  z-index: 1;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13);
}
.dark-wrap .item-title-wrap .item-title::before {
  background: #fff;
  color: #0d00ff;
}
.dark-wrap.scroll-item-wrap {
  color: #fff;
}
/* HOME */
#home-partner-sl {
  padding-top: 55px;
  padding-bottom: 32px;
}
@media (min-width: 992px) {
  #home-partner-sl {
    padding-top: 95px;
  }
}
#home-partner-sl .owl-dots {
  margin-top: 32px;
}
#home-partner-sl .item {
  background: #050066;
  padding-bottom: 100%;
  overflow: hidden;
}
#home-partner-sl .item img {
  display: block;
}
#home-partner-sl .item .logo-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
  display: block;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
#home-news-sl .owl-stage {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#home-news-sl .owl-stage .owl-item,
#home-news-sl .owl-stage .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
#home-news-sl .owl-dots {
  margin-top: 32px;
  position: ;
  left: 0;
}
@media (min-width: 576px) {
  #home-news-sl .owl-dots {
    width: calc(100% - 8.33% - ((100vw - 540px) / 2));
  }
}
@media (min-width: 768px) {
  #home-news-sl .owl-dots {
    width: calc(100% - 8.33% - ((100vw - 668px) / 2));
  }
}
@media (min-width: 992px) {
  #home-news-sl .owl-dots {
    width: calc(100% - 8.33% - ((100vw - 960px) / 2));
  }
}
@media (min-width: 1200px) {
  #home-news-sl .owl-dots {
    width: calc(100% - 8.33% - ((100vw - 1184px) / 2));
  }
}
#home-news-sl .owl-stage {
  padding-left: 1px!important;
}
#home-news-sl .owl-stage .item {
  padding-bottom: 10px;
}
/* PARTNER */
.partner-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13);
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
  height: 100%;
  background-color: #050066;

}

.partner-counter .dida{
  color:#fff;
}
.partner-counter > div {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
}
.partner-counter .number {
  font-weight: 900;
  font-size: 6.25rem;
  line-height: .64;
  color: #0d00ff;
  margin-bottom: 20px;
}
/* ECOSISTEMA */
.map-embed iframe {
  width: 100%;
  height: auto;
}
#map-mobile .modal-dialog {
  margin: 15px;
}
#map-mobile .modal-dialog .close {
  position: absolute;
  z-index: 10;
  left: auto;
  right: 15px;
  top: 15px;
  color: #000;
  opacity: 1;
  text-shadow: none;
}
#map-mobile .modal-content {
  height: calc(100vh - 30px);
}
#map-mobile .modal-content .modal-body {
  padding: 0;
}
#map-mobile .modal-content iframe {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}
#manifesto-ban {
  padding-top: 60px;
  padding-bottom: 48.78vw;
  color: #fff;
  background-image: url("../img/bg-manifesto-italy.png");
  background-repeat: no-repeat;
  background-position: 4.28571vw 0;
  background-size: 99.09% auto;
  position: relative;
}
@media (min-width: 992px) {
  #manifesto-ban {
    padding-top: 120px;
  }
}
#manifesto-ban::after {
  content: "";
  display: block;
  position: absolute;
  left: auto;
  right: 0;
  top: 0;
  width: 111px;
  height: 113px;
  -webkit-transform: translateY(-1.73160173%);
          transform: translateY(-1.73160173%);
  background: url("../img/bg-manifesto-flag.svg") no-repeat 0 0;
  background-size: 100% auto;
}
#manifesto-ban .title {
  font-size: 1.75em;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.43;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  #manifesto-ban .title {
    font-size: 2.5em;
  }
}
/* PROGRAMMA */
.section-early .item-title strong {
  color: #00cf86;
}
.section-growth .item-title strong {
  color: #ff9700;
}
.section-pmi-innovative .item-title strong {
  color: #d1344c;
}
.program-main .item-wrap:not(:last-child) {
  background-image: url('../img/arrow-gradient-down.svg');
  background-repeat: no-repeat;
  background-position: left 45% bottom 30px;
}
.program-main .mini-card {
  margin-bottom: 48px;
}
.program-main .mini-card .img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 160px;
  padding: 26px 30px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}
.program-main .mini-card .title {
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
}
.program-main .list-title {
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #0d00ff;
}
.program-main ul {
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}
.program-main ul li {
  list-style-type: none;
  position: relative;
  padding-left: 20px;
  color: inherit;
}
.program-main ul li:before {
  content: "";
  display: inline-block;
  position: static;
  position: absolute;
  left: 0;
  top: .5em;
  width: 8px;
  height: 8px;
  margin-right: 15px;
  background: #0d00ff;
}
.program-main .dark-wrap ul li::before {
  background: #32d6d6;
}
.program-main .dark-wrap .list-title {
  color: #53A5A5;
}
.program-ico {
  overflow: hidden;
}
.program-ico .program-name {
  background-repeat: no-repeat;
  background-position: 0 .2em;
  background-size: 100% calc(100% - .2em);
  font-size: 3.625rem;
  font-weight: 900;
  line-height: 1;
/*  text-transform: uppercase; */
  padding-left: 110px;
}
.program-ico .program-name strong {
  display: block;
  text-transform: uppercase;
  font-weight: 900;
}
.program-ico.early .program-name strong {
  color: #00cf86;
}
.program-ico.growth .program-name strong {
  color: #ff9700;
}
.program-ico.pmi-innovative .program-name strong {
  color: #d1344c;
}
/* CONTATTI */
.scroll-item-wrap {
  position: relative;
}
.contact-card.v-offset {
  position: relative;
  top: -100px;
  margin-bottom: -100px;
}
/* PAGINE ERRORE */
.site-error-message {
  position: relative;
}
.site-error-message .text {
  font-size: 0.875rem;
  font-weight: 700;
}
.site-error-message .text-wrap {
  position: absolute;
  top: 80%;
}
/* MEDIA QUERY */
@media (max-width: 991px) {
  #site-header.sticky .navbar-mobile {
    background: #0b00d9;
  }
  #site-header .bootstrap-select.mi-select.lang {
    margin-bottom: 20px;
  }
  #site-header .bootstrap-select.mi-select.lang .dropdown-toggle {
    color: #0d00ff;
  }
  #site-header .bootstrap-select.mi-select.lang .dropdown-toggle::after {
    border-color: #0d00ff;
  }
  .navbar-mobile {
    padding: 0;
    z-index: 100;
    -webkit-transition: -webkit-box-shadow 0.5s;
    transition: -webkit-box-shadow 0.5s;
    transition: box-shadow 0.5s;
    transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
  }
  .navbar-desktop {
    position: absolute;
  }
  #main-menu {
    position: fixed;
    z-index: 99;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all .5s;
    transition: all .5s;
    text-align: center;
  }
  #main-menu::before {
    content: "";
    display: block;
    position: absolute;
    height: 12px;
    width: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0)));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  }
  #main-menu.collapse.show {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  #main-menu .navs-wrap {
    overflow: auto;
    padding-top: 32px;
  }
  #main-menu .navs-wrap .nav-link {
    font-size: 1em;
    font-weight: 700;
    color: #0d00ff;
    margin-bottom: 32px;
  }
  #main-menu .navs-wrap .nav-intro {
    color: #0d00ff;
  }
  #main-menu .navbar-nav {
    text-align: center;
  }
  .page-hero.page-hero--large {
    min-height: 816px;
  }
  .page-hero.page-hero--large.plus-filter2 .hero-caption {
    top: auto;
    bottom: 250px;
  }
  .page-hero.page-hero--large.plus-filter4 .hero-caption {
    top: auto;
    bottom: 330px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  #main-menu .navs-wrap .nav-link {
    font-size: 1.25em;
  }
}
@media (max-width: 767px) {
  #footer-main .button {
    width: 100%;
  }
  .responsive-nobg {
    background: transparent;
  }
  .responsive-nobg::before {
    display: none;
  }
  .responsive-bg-offset {
    position: relative;
  }
  .responsive-bg-offset::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: calc(100% - 170px);
    top: auto;
    bottom: 0;
    left: 0;
    background: #fff;
  }
  section + section .sidebar-main:not(.program-main) {
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.14);
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.14);
  }
  .page-hero.page-hero--large.plus-filter2 .hero-caption {
    top: auto;
    bottom: 320px;
  }
  .page-hero.page-hero--large.plus-filter4 .hero-caption {
    top: auto;
    bottom: 480px;
  }
  .hero-caption .reference-mb-fix {
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 100;
    padding: 8px 15px;
  }
  .hero-caption .reference-mb-fix .button {
    width: 100%;
  }
}
@media (min-width: 576px) {
  .offset-container-left,
  .offset-container-left-sm {
    margin-left: calc((((100vw - 540px) / 2) + 30px) * -1);
  }
  .offset-container-right,
  .offset-container-right-sm {
    margin-right: calc((((100vw - 540px) / 2) + 30px) * -1);
  }
}
@media (min-width: 768px) {
  .offset-container-left,
  .offset-container-left-sm,
  .offset-container-left-md {
    margin-left: calc((((100vw - 668px) / 2) + 30px) * -1);
  }
  .offset-container-right,
  .offset-container-right-sm,
  .offset-container-right-md {
    margin-right: calc((((100vw - 668px) / 2) + 30px) * -1);
  }
  .button {
    min-width: 165px;
  }
  .nav-social.nav-social--square.invert .nav-link {
    width: 56px;
    height: 56px;
  }
  .light-switch {
    background: transparent;
  }
  .page-hero {
    height: 39.42vw;
  }
  .page-hero:not(.no-mchange) .hero-caption,
  .page-hero .hero-caption {
    left: 50%;
    top: 35%;
    bottom: auto;
    -webkit-transform: translate(-50%, -17.5%);
            transform: translate(-50%, -17.5%);
  }
  .page-hero .logo-wrap {
    height: 160px;
  }
  .page-hero.page-hero--large {
    height: 50.5555vw;
    height: 45.694444vw;
  }
  .card2 {
    min-height: 500px;
  }
  .card2 .title:not(.simple) {
    min-height: 4em;
  }
  #manifesto-ban {
    padding-top: 0;
    padding-bottom: 0;
    min-height: 40.5714vw;
    background-position: 4.28571vw 0;
    background-size: auto 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 3;
  }
  #manifesto-ban::after {
    width: 16.6428%;
    height: 16.5vw;
  }
  #manifesto-ban .title {
    line-height: 1.2;
  }
  .news-type {
    padding: 32px;
  }
  .sidebar-wrap {
    position: relative;
  }
  .sidebar-wrap .col-sidebar {
    position: absolute;
    left: auto;
    right: 0;
    top: 0;
    z-index: 1;
    height: 100%;
    max-width: 28.68055%;
    -ms-flex-preferred-size: 28.68055%;
        flex-basis: 28.68055%;
  }
  .sidebar-wrap .sidebar-main {
    position: relative;
    z-index: 0;
    top: 0;
  }
  .site-error-message .text {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .program-ico .program-name {
    font-size: 4.75rem;
    padding-left: 150px;
  }
  .program-main .min-card-container {
    width: 85.71%;
  }
}
@media (min-width: 992px) {
  .offset-container-left,
  .offset-container-left-sm,
  .offset-container-left-md,
  .offset-container-left-lg {
    margin-left: calc((((100vw - 960px) / 2) + 15px) * -1);
  }
  .offset-container-right,
  .offset-container-right-sm,
  .offset-container-right-md,
  .offset-container-right-lg {
    margin-right: calc((((100vw - 960px) / 2) + 15px) * -1);
  }
  #site-header .navbar {
    font-size: 0.875rem;
    color: #fff;
  }
  #site-header .navbar .nav-link {
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 2px solid transparent;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  #site-header .navbar .nav-item:hover .nav-link,
  #site-header .navbar .active .nav-link {
    border-bottom-color: #00fff8;
    color: #fff;
  }
  #site-header .navbar-desktop .navbar-brand {
    max-width: 115px;
  }
  #site-header .lang {
    margin-left: 15px;
  }
  #main-menu {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #main-menu .navs-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .square-list .main-list > li {
    padding-top: 0;
    padding-bottom: 0;
  }
  .square-list .main-list > li .item {
    padding-left: 104px;
  }
  .hero .hero-footer {
    bottom: 15px;
  }
  .hero .hero-footer nav {
    display: inline-block;
  }
  .hero .video-bg {
    position: relative;
  }
  .hero .video-wrap {
    height: 47.9166vw;
  }
  .hero video {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
  .card-content-item {
    padding: 70px 95px 50px;
  }
  .txtimg .title {
    line-height: 1.2;
  }
  .txtimg .img-wrap .block-title {
    left: 30px;
    bottom: 15px;
  }
  .square-list-compact .main-list > li {
    margin-bottom: 32px;
  }
  .square-list-compact .main-list > li::before {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 68px;
    height: 68px;
    line-height: 68px;
    font-size: 2.5rem;
  }
  .square-list-compact .main-list > li .item {
    padding-left: 104px;
    line-height: 1.6;
  }
  .square-list-compact .main-list > li .item::before,
  .square-list-compact .main-list > li .item::after {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 68px;
    height: 68px;
  }
  .square-list-compact .main-list > li .item::before {
    left: 8px;
    margin-top: -8px;
  }
  .square-list-compact .main-list > li .item::after {
    left: -8px;
    margin-top: 8px;
  }
  .square-list-titled .main-list > li::before {
    width: 68px;
    height: 68px;
    line-height: 68px;
    font-size: 2.5rem;
  }
  .square-list-titled .item-title {
    padding-left: 104px;
    line-height: 1.6;
    padding-bottom: 45px;
  }
  .square-list-titled .item-title::before,
  .square-list-titled .item-title::after {
    width: 68px;
    height: 68px;
  }
  .square-list-titled .item-title::before {
    left: 8px;
    top: -8px;
  }
  .square-list-titled .item-title::after {
    left: -8px;
    top: 8px;
  }
  .counter-wrap > div:nth-child(1) {
    margin-bottom: 32px;
  }
  .item-title-wrap .item-title {
    padding-top: 0;
    padding-left: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 68px;
  }
  .partner-counter .number {
    font-weight: 900;
    font-size: 6.25rem;
    color: #0d00ff;
  }
  .partner-counter {
    padding-top: 40px;
    padding-bottom: 30px;
  }
  .partner-counter .number {
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .offset-container-left,
  .offset-container-left-sm,
  .offset-container-left-md,
  .offset-container-left-lg,
  .offset-container-left-xl {
    margin-left: calc((((100vw - 1184px) / 2) + 15px) * -1);
  }
  .offset-container-right,
  .offset-container-right-sm,
  .offset-container-right-md,
  .offset-container-right-lg,
  .offset-container-right-xl {
    margin-right: calc((((100vw - 1184px) / 2) + 15px) * -1);
  }
  .txtimg .v-offset {
    margin-bottom: -35px;
    z-index: 3;
  }
  .card2 .title:not(.simple) {
    min-height: 2.5em;
  }
}
@media (min-width: 992px) and (max-width: 1440px) {
  .sidebar-wrap .sidebar-main {
    padding-right: 5%;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .card .img-wrap img {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
@font-face {
  font-family: "Titillium Web";
  src: url("../../vendors/bootstrap-italia/fonts/Titillium_Web/TitilliumWeb-Black.woff") format("woff"), url("../../vendors/bootstrap-italia/fonts/Titillium_Web/TitilliumWeb-Black.woff2") format("woff2"), url("../../vendors/bootstrap-italia/fonts/Titillium_Web/TitilliumWeb-Black.ttf") format("ttf");
  font-weight: 900;
}

.vcenter{
  display: inline-block;
  vertical-align: middle;
  float: none;
  margin: auto;
}

.card-programma-2 .img-wrap{
  max-width:150px;
}