/*!
Theme Name: MADEIT Stand Alone Theme
Author: bititup s.r.l.
Author URI: https://bititup.it
Description: E' un tema padre di WordPress per MADEIT
Version: 0.0.1
License: AGPL 3.0 or later
Text Domain: madeit
*/

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}


.red ul li {
    list-style-type: none;
    position: relative;
    padding-left: 20px;
    color: inherit;

}

.red ul {
    margin: 0;
    padding: 0;
    margin-bottom: 32px;
}
.red ul li:before {
    content: "";
    display: inline-block;
    position: static;
    position: absolute;
    left: 0;
    top: .5em;
    width: 8px;
    height: 8px;
    margin-right: 15px;
    background: #0d00ff;
}

.card-ita .title .big{
display: inline;
}


.lang select {
    border: none !important;
    background-color: transparent !important;
    color:#fff !important;
}
.lang select option{
    background-color: #0b00d9 !important;
    color:#fff !important;
}


#site-header .navbar-desktop .navbar-brand{
    max-width: 200px !important;
    min-width: 200px !important;
}
#main-menu{
    margin-top:10px;
}


.hero .hero-caption .title-small{
    font-size: 1.3rem;
}

.multiplep p{
    margin:0px;
}

.undertext p{
    font-size:14px;
    font-style:italic;
}
.title-small{
    line-height: 32px;
}

.max-height-100{
    max-height: 100%;
}

.text-link {
    font-size: 0.875rem;
    font-weight: 700;
    color: #0d00ff;
    display: inline-block;
    position: relative;
    padding-right: 46px;
    text-transform: uppercase;
    text-decoration: none;
}

@media (min-width: 768px){
    .card2 {
        min-height: 390px;
    }
}

.bg-madeit{
    background-color: #0b00ff;
    color:white;
}

.form-title{
    text-transform: uppercase;
    font-weight: bold;
    font-size:14px;
    padding: 4px 0px;
}

.form-label{
    display: block;
    color:#666666;
    padding-left:12px;
    padding-top:10px;
}

input[type=date], input[type=datetime-local], input[type=email], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url]{
    font-size:18px;
}

input[type=date]::-webkit-input-placeholder, input[type=datetime-local]::-webkit-input-placeholder, input[type=email]::-webkit-input-placeholder, input[type=number]::-webkit-input-placeholder, input[type=password]::-webkit-input-placeholder, input[type=search]::-webkit-input-placeholder, input[type=tel]::-webkit-input-placeholder, input[type=text]::-webkit-input-placeholder, input[type=time]::-webkit-input-placeholder, input[type=url]::-webkit-input-placeholder{
    font-weight: 600;
}

.form-subtitle{
    font-size:20px;
    font-weight:bold;
}

form .wpcf7-list-item-label{
    color: #000a12;
}

form .disabled, form .disabled .wpcf7-list-item-label{
    color: #999999
}
form .disabled small,form .disabled input::placeholder{
    color:  #ccc;
}
form .bolder span, form .bolder p{
    font-weight:bold;
}

.clessidra{
    display:block;
    margin:auto;

}

.label-covid{
    background-color: #ff9700;
}

.card-content-item{
    word-break: break-word;
}

.upload-dragdrop input[type=file]{
    word-wrap: break-word;
    width: 100%;
)